<div ng-controller="WishpageCtrl" id="Wishpage">

<div id="Color" ng-click="ColorTap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Color" ng-model="Color.value">
  </label>
</div>
</div>

<div id="ProductName" ng-click="ProductNameTap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="ProductName" ng-model="ProductName.value">
  </label>
</div>
</div>

<div id="Brand " ng-click="BrandTap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Brand" ng-model="Brand.value">
  </label>
</div>
</div>

<div id="Country" ng-click="CountryTap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Made In Country" ng-model="Country.value">
  </label>
</div>
</div>

<div id="MakeWish" ng-click="MakeWishTap()">
<button class="button button-small button-positive button-outline ion-star icon-left">
  Make A Wish
</button>
</div>

<div id="productImage" ng-click="productImageTap()">
<img ng-src="http://www.appgyver.com/composer/composer-default-image.png"></img>

</div>

<div id="Description" ng-click="DescriptionTap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Description" ng-model="Description.value">
  </label>
</div>
</div>

</div>