@import url('normalize.css');
@font-face {
    font-family: 'TheanoDidotRegular';
    src: url('fonts/TheanoDidot-Regular-webfont.eot');
    src: url('fonts/TheanoDidot-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/TheanoDidot-Regular-webfont.woff') format('woff'),
         url('fonts/TheanoDidot-Regular-webfont.ttf') format('truetype'),
         url('fonts/TheanoDidot-Regular-webfont.svg#TheanoDidotRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* General Demo Style */
body{
	font-family: "TheanoDidotRegular", Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: #fff url(../images/stacked_circles.png) repeat top left;
	font-weight: 400;
	font-size: 15px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
a{
	color: #555;
	text-decoration: none;
}
.clr {
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.container{
	width: 100%;
	position: relative;
	min-height: 750px;
}
.container > header{
	margin: 10px;
	padding: 20px 10px 10px 10px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container > header > span{
	font-size: 14px;
	letter-spacing: 3px;
	line-height: 20px;
	display: block;
	font-weight: 400;
	text-transform: uppercase;
	color: #009B52;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
.container > header h1{
	font-size: 36px;
	line-height: 36px;
	margin: 0;
	position: relative;
	font-weight: 300;
	color: #333;
	padding: 5px 0px;
	letter-spacing: -1px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
.container > header h1 span{
	font-weight: 700;
}
.container > header h2{
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0;
	padding: 15px 0 5px 0;
	color: #6190ca;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
.container > header p{
	color: #444;
	margin: 5px 0;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
/* Header Style */
.codrops-top{
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	font-family: Cambria, Georgia, serif;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #888;
	display: inline-block;
	text-shadow: 1px 0 0 rgba(255,255,255,0.9);
}
.codrops-top a:hover{
	background: rgba(255,255,255,0.7);
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: left;
	display: block;
}
/* Demo Buttons Style */
/* Demo Buttons Style */
.codrops-demos{
    text-align: center;
	display: block;
	line-height: 30px;
	padding: 5px 0px;
}
.codrops-demos a{
    display: inline-block;
	margin: 0px 4px;
	padding: 0px 8px;
	color: #fff;
	line-height: 20px;	
	font-size: 13px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
	border: 1px solid #00914B;
	background: #00af4f;
	background: -moz-linear-gradient(top, #00af4f 0%, #009b52 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00af4f), color-stop(100%,#009b52));
	background: -webkit-linear-gradient(top, #00af4f 0%,#009b52 100%);
	background: -o-linear-gradient(top, #00af4f 0%,#009b52 100%);
	background: -ms-linear-gradient(top, #00af4f 0%,#009b52 100%);
	background: linear-gradient(top, #00af4f 0%,#009b52 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00af4f', endColorstr='#009b52',GradientType=0 );
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.codrops-demos a:hover{
	background: #00af4f;
}
.codrops-demos a:active{
	background: #3AAD6E;
	box-shadow: 0px 1px 1px rgba(255,255,255,0.9);
}
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{
	background: #008243;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.2);
	box-shadow: 0px 1px 1px rgba(255,255,255,0.9);
	color: #005B2D;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00af4f', endColorstr='#00af4f',GradientType=0 ); /* IE6-9 */
}
.ie-note{
	font-size: 100px;
	display: none;
}