<div ng-controller="GrantingpageCtrl" id="Grantingpage">

<div id="card_with_image_on_left_two_text_rows1" ng-click="card_with_image_on_left_two_text_rows1Tap()">
<div class="list card">
  <div class="item item-avatar">
    <img ng-src="http://www.appgyver.com/composer/composer-default-square.png">
    <h2>My Title</h2>
    <p>My Content.</p>
  </div>
</div>

</div>

<div id="card_with_image_on_left_two_text_rows2" ng-click="card_with_image_on_left_two_text_rows2Tap()">
<div class="list card">
  <div class="item item-avatar">
    <img ng-src="http://www.appgyver.com/composer/composer-default-square.png">
    <h2>My Title</h2>
    <p>My Content.</p>
  </div>
</div>

</div>

<div id="button3" ng-click="button3Tap()">
<button class="button button-positive">
  My Button
</button>
</div>

<div id="card_with_image_on_left_two_text_rows3" ng-click="card_with_image_on_left_two_text_rows3Tap()">
<div class="list card">
  <div class="item item-avatar">
    <img ng-src="http://www.appgyver.com/composer/composer-default-square.png">
    <h2>My Title</h2>
    <p>My Content.</p>
  </div>
</div>

</div>

</div>