<div ng-controller="UpdateprofileCtrl" id="Updateprofile">

<div id="profPic" ng-click="profPicTap()">
<img ng-src="http://www.appgyver.com/composer/composer-default-image.png"></img>

</div>

<div id="UserName" ng-click="UserNameTap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="UserName" ng-model="UserName.value">
  </label>
</div>
</div>

<div id="Update" ng-click="UpdateTap()">
<button class="button button-small button-positive button-outline">
  Update
</button>
</div>

<div id="Skip" ng-click="SkipTap()">
<button class="button button-small button-positive button-outline ion-ios7-arrow-right icon-right">
  Skip
</button>
</div>

</div>