
/* Begin CSS for StartingPage */
#Startingpage {

  min-height: 480px;

  overflow-y: hidden;

}


#Startingpage #SignUp {

  position: absolute;

  margin-top: 10px;

  margin-right: 10px;

  margin-bottom: 10px;

  margin-left: 10px;

  z-index: 1;

  left: 115px;

  top: 175px;

}
#Startingpage #SignUp > *:first-child {

  padding-top: 0px;

  padding-right: 10px;

  padding-bottom: 0px;

  padding-left: 10px;

  width: 100%;

}

#Startingpage #Login {

  position: absolute;

  margin-top: 10px;

  margin-right: 10px;

  margin-bottom: 10px;

  margin-left: 10px;

  z-index: 0;

  left: 123px;

  top: 216px;

}
#Startingpage #Login > *:first-child {

  padding-top: 0px;

  padding-right: 10px;

  padding-bottom: 0px;

  padding-left: 10px;

  width: 100%;

}

/* End CSS for StartingPage */

/* Begin CSS for RegisterPage */
#Registerpage {

  min-height: 480px;

  overflow-y: hidden;

}


#Registerpage #fn_field0 {

  position: absolute;

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 9;

  left: 2px;

  top: 71px;

}
#Registerpage #fn_field0 > *:first-child {

  padding-top: 5px;

  padding-right: 20px;

  padding-bottom: 5px;

  padding-left: 20px;

  width: 318px;

}

#Registerpage #Email {

  position: absolute;

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 6;

  left: 2px;

  top: 169px;

}
#Registerpage #Email > *:first-child {

  padding-top: 5px;

  padding-right: 20px;

  padding-bottom: 5px;

  padding-left: 20px;

  width: 318px;

}

#Registerpage #ln_field1 {

  position: absolute;

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 8;

  left: 2px;

  top: 120px;

}
#Registerpage #ln_field1 > *:first-child {

  padding-top: 5px;

  padding-right: 20px;

  padding-bottom: 5px;

  padding-left: 20px;

  width: 318px;

}

#Registerpage #Register {

  position: absolute;

  margin-top: 10px;

  margin-right: 10px;

  margin-bottom: 10px;

  margin-left: 10px;

  z-index: 1;

  left: 97px;

  top: 381px;

}
#Registerpage #Register > *:first-child {

  padding-top: 0px;

  padding-right: 10px;

  padding-bottom: 0px;

  padding-left: 10px;

  width: 100%;

}

#Registerpage #Country {

  position: absolute;

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 4;

  left: 2px;

  top: 218px;

}
#Registerpage #Country > *:first-child {

  padding-top: 5px;

  padding-right: 20px;

  padding-bottom: 5px;

  padding-left: 20px;

  width: 318px;

}

#Registerpage #confirmPswd {

  position: absolute;

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 3;

  left: 2px;

  top: 317px;

}
#Registerpage #confirmPswd > *:first-child {

  padding-top: 5px;

  padding-right: 20px;

  padding-bottom: 0px;

  padding-left: 20px;

  width: 318px;

}

#Registerpage #pswrd {

  position: absolute;

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 2;

  left: 2px;

  top: 267px;

}
#Registerpage #pswrd > *:first-child {

  padding-top: 5px;

  padding-right: 20px;

  padding-bottom: 5px;

  padding-left: 20px;

  width: 318px;

}

/* End CSS for RegisterPage */

/* Begin CSS for IntroPage */
#Intropage {

  min-height: 480px;

  overflow-y: auto;

}


#Intropage #picture_field0 {

  position: absolute;

  margin-top: 50px;

  margin-right: 0px;

  margin-bottom: 50px;

  margin-left: 0px;

  z-index: 0;

  left: 0px;

  top: 0px;

}
#Intropage #picture_field0 > *:first-child {

  padding-top: 50px;

  padding-right: 50px;

  padding-bottom: 50px;

  padding-left: 50px;

  width: 320px;

}

/* End CSS for IntroPage */

/* Begin CSS for VerificationPage */
#Verificationpage {

  min-height: 480px;

  overflow-y: hidden;

}


#Verificationpage #VerificationCode {

  position: absolute;

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 2;

  left: 2px;

  top: 73px;

}
#Verificationpage #VerificationCode > *:first-child {

  padding-top: 5px;

  padding-right: 20px;

  padding-bottom: 5px;

  padding-left: 20px;

  width: 318px;

}

#Verificationpage #Verify {

  position: absolute;

  margin-top: 10px;

  margin-right: 10px;

  margin-bottom: 10px;

  margin-left: 10px;

  z-index: 0;

  left: 110px;

  top: 144px;

}
#Verificationpage #Verify > *:first-child {

  padding-top: 0px;

  padding-right: 10px;

  padding-bottom: 0px;

  padding-left: 10px;

  width: 100%;

}

/* End CSS for VerificationPage */

/* Begin CSS for LandingPage */
#Landingpage {

  min-height: 480px;

  overflow-y: hidden;

}


#Landingpage #bg {

  position: absolute;

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 6;

  left: 0px;

  top: 29px;

}
#Landingpage #bg > *:first-child {

  padding-top: 0px;

  padding-right: 0px;

  padding-bottom: 0px;

  padding-left: 0px;

  width: 320px;

}

#Landingpage #Wish {

  position: absolute;

  margin-top: 10px;

  margin-right: 10px;

  margin-bottom: 10px;

  margin-left: 10px;

  z-index: 5;

  left: 119px;

  top: 171px;

}
#Landingpage #Wish > *:first-child {

  padding-top: 0px;

  padding-right: 10px;

  padding-bottom: 0px;

  padding-left: 10px;

  width: 100%;

}

#Landingpage #Shop {

  position: absolute;

  margin-top: 10px;

  margin-right: 10px;

  margin-bottom: 10px;

  margin-left: 10px;

  z-index: 4;

  left: 118px;

  top: 246px;

}
#Landingpage #Shop > *:first-child {

  padding-top: 0px;

  padding-right: 10px;

  padding-bottom: 0px;

  padding-left: 10px;

  width: 100%;

}

#Landingpage #Chat {

  position: absolute;

  margin-top: 10px;

  margin-right: 10px;

  margin-bottom: 10px;

  margin-left: 10px;

  z-index: 3;

  left: 119px;

  top: 283px;

}
#Landingpage #Chat > *:first-child {

  padding-top: 0px;

  padding-right: 10px;

  padding-bottom: 0px;

  padding-left: 10px;

  width: 100%;

}

#Landingpage #Grant {

  position: absolute;

  margin-top: 10px;

  margin-right: 10px;

  margin-bottom: 10px;

  margin-left: 10px;

  z-index: 2;

  left: 117px;

  top: 206px;

}
#Landingpage #Grant > *:first-child {

  padding-top: 0px;

  padding-right: 10px;

  padding-bottom: 0px;

  padding-left: 10px;

  width: 100%;

}

/* End CSS for LandingPage */

/* Begin CSS for wishPage */
#Wishpage {

  min-height: 480px;

  overflow-y: hidden;

}


#Wishpage #Color {

  position: absolute;

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 4;

  left: 0px;

  top: 309px;

}
#Wishpage #Color > *:first-child {

  padding-top: 5px;

  padding-right: 20px;

  padding-bottom: 5px;

  padding-left: 20px;

  width: 318px;

}

#Wishpage #ProductName {

  position: absolute;

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 7;

  left: 2px;

  top: 158px;

}
#Wishpage #ProductName > *:first-child {

  padding-top: 5px;

  padding-right: 20px;

  padding-bottom: 5px;

  padding-left: 20px;

  width: 318px;

}

#Wishpage #Brand  {

  position: absolute;

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 5;

  left: 0px;

  top: 258px;

}
#Wishpage #Brand  > *:first-child {

  padding-top: 5px;

  padding-right: 20px;

  padding-bottom: 5px;

  padding-left: 20px;

  width: 318px;

}

#Wishpage #Country {

  position: absolute;

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 6;

  left: 0px;

  top: 207px;

}
#Wishpage #Country > *:first-child {

  padding-top: 5px;

  padding-right: 20px;

  padding-bottom: 5px;

  padding-left: 20px;

  width: 318px;

}

#Wishpage #MakeWish {

  position: absolute;

  margin-top: 10px;

  margin-right: 10px;

  margin-bottom: 10px;

  margin-left: 10px;

  z-index: 1;

  left: 88px;

  top: 418px;

}
#Wishpage #MakeWish > *:first-child {

  padding-top: 0px;

  padding-right: 10px;

  padding-bottom: 0px;

  padding-left: 10px;

  width: 100%;

}

#Wishpage #productImage {

  position: absolute;

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 3;

  left: 0px;

  top: 18px;

}
#Wishpage #productImage > *:first-child {

  padding-top: 0px;

  padding-right: 0px;

  padding-bottom: 0px;

  padding-left: 0px;

  width: 320px;

}

#Wishpage #Description {

  position: absolute;

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 2;

  left: 2px;

  top: 359px;

}
#Wishpage #Description > *:first-child {

  padding-top: 5px;

  padding-right: 20px;

  padding-bottom: 5px;

  padding-left: 20px;

  width: 318px;

}

/* End CSS for wishPage */

/* Begin CSS for LoginPage */
#Loginpage {

  min-height: 480px;

  overflow-y: hidden;

}


#Loginpage #Email {

  position: absolute;

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 2;

  left: 2px;

  top: 149px;

}
#Loginpage #Email > *:first-child {

  padding-top: 5px;

  padding-right: 20px;

  padding-bottom: 5px;

  padding-left: 20px;

  width: 318px;

}

#Loginpage #password {

  position: absolute;

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 1;

  left: 1px;

  top: 207px;

}
#Loginpage #password > *:first-child {

  padding-top: 5px;

  padding-right: 20px;

  padding-bottom: 5px;

  padding-left: 20px;

  width: 318px;

}

#Loginpage #Login {

  position: absolute;

  margin-top: 10px;

  margin-right: 10px;

  margin-bottom: 10px;

  margin-left: 10px;

  z-index: 0;

  left: 113px;

  top: 273px;

}
#Loginpage #Login > *:first-child {

  padding-top: 0px;

  padding-right: 10px;

  padding-bottom: 0px;

  padding-left: 10px;

  width: 100%;

}

/* End CSS for LoginPage */

/* Begin CSS for UpdateProfile */
#Updateprofile {

  min-height: 480px;

  overflow-y: hidden;

}


#Updateprofile #profPic {

  position: absolute;

  margin-top: 10px;

  margin-right: 20px;

  margin-bottom: 10px;

  margin-left: 20px;

  z-index: 3;

  left: -20px;

  top: 85px;

}
#Updateprofile #profPic > *:first-child {

  padding-top: 0px;

  padding-right: 0px;

  padding-bottom: 0px;

  padding-left: 0px;

  width: 320px;

}

#Updateprofile #UserName {

  position: absolute;

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 2;

  left: 2px;

  top: 237px;

}
#Updateprofile #UserName > *:first-child {

  padding-top: 5px;

  padding-right: 20px;

  padding-bottom: 5px;

  padding-left: 20px;

  width: 318px;

}

#Updateprofile #Update {

  position: absolute;

  margin-top: 10px;

  margin-right: 10px;

  margin-bottom: 10px;

  margin-left: 10px;

  z-index: 1;

  left: 0px;

  top: 418px;

}
#Updateprofile #Update > *:first-child {

  padding-top: 0px;

  padding-right: 10px;

  padding-bottom: 0px;

  padding-left: 10px;

  width: 100%;

}

#Updateprofile #Skip {

  position: absolute;

  margin-top: 10px;

  margin-right: 10px;

  margin-bottom: 10px;

  margin-left: 10px;

  z-index: 0;

  left: 241px;

  top: 416px;

}
#Updateprofile #Skip > *:first-child {

  padding-top: 0px;

  padding-right: 10px;

  padding-bottom: 0px;

  padding-left: 10px;

  width: 100%;

}

/* End CSS for UpdateProfile */

/* Begin CSS for Shopping */
#Shopping {

  min-height: 480px;

  overflow-y: auto;

}


/* End CSS for Shopping */

/* Begin CSS for Chat */
#Chat {

  min-height: 480px;

  overflow-y: auto;

}


/* End CSS for Chat */

/* Begin CSS for WishMade */
#Wishmade {

  min-height: 480px;

  overflow-y: auto;

}


#Wishmade #text0 {

  position: absolute;

  margin-top: 10px;

  margin-right: 10px;

  margin-bottom: 10px;

  margin-left: 10px;

  z-index: 2;

  left: 2px;

  top: 174px;

}
#Wishmade #text0 > *:first-child {

  padding-top: 0px;

  padding-right: 0px;

  padding-bottom: 0px;

  padding-left: 0px;

  width: 295px;

}

#Wishmade #GrantWish {

  position: absolute;

  margin-top: 10px;

  margin-right: 10px;

  margin-bottom: 10px;

  margin-left: 10px;

  z-index: 1;

  left: 96px;

  top: 226px;

}
#Wishmade #GrantWish > *:first-child {

  padding-top: 0px;

  padding-right: 10px;

  padding-bottom: 0px;

  padding-left: 10px;

  width: 100%;

}

/* End CSS for WishMade */

/* Begin CSS for GrantingPage */
#Grantingpage {

  min-height: 480px;

  overflow-y: auto;

}


#Grantingpage #card_with_image_on_left_two_text_rows1 {

  position: absolute;

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 4;

  left: 0px;

  top: 90px;

}
#Grantingpage #card_with_image_on_left_two_text_rows1 > *:first-child {

  padding-top: 1px;

  padding-right: 0px;

  padding-bottom: 1px;

  padding-left: 0px;

  width: 300px;

}

#Grantingpage #card_with_image_on_left_two_text_rows2 {

  position: absolute;

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 3;

  left: 0px;

  top: 170px;

}
#Grantingpage #card_with_image_on_left_two_text_rows2 > *:first-child {

  padding-top: 1px;

  padding-right: 0px;

  padding-bottom: 1px;

  padding-left: 0px;

  width: 300px;

}

#Grantingpage #button3 {

  position: absolute;

  margin-top: 10px;

  margin-right: 10px;

  margin-bottom: 10px;

  margin-left: 10px;

  z-index: 0;

  left: 100px;

  top: 362px;

}
#Grantingpage #button3 > *:first-child {

  padding-top: 0px;

  padding-right: 10px;

  padding-bottom: 0px;

  padding-left: 10px;

  width: 100%;

}

#Grantingpage #card_with_image_on_left_two_text_rows3 {

  position: absolute;

  margin-top: 10px;

  margin-right: 0px;

  margin-bottom: 10px;

  margin-left: 0px;

  z-index: 2;

  left: 0px;

  top: 251px;

}
#Grantingpage #card_with_image_on_left_two_text_rows3 > *:first-child {

  padding-top: 1px;

  padding-right: 0px;

  padding-bottom: 1px;

  padding-left: 0px;

  width: 300px;

}

/* End CSS for GrantingPage */


div#global-spinner-div {
  display: none;
}

.global-blackout {
  z-index: 9999;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
}

.global-modal-container {
  z-index: 99999;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.global-spinner-container {
  position:absolute;
  width:100px;
  height:100px;
  top:50%;
  left:50%;
  margin:-50px 0 0 -50px;
  background-color: #eee;
  opacity: 0.8;
  display: -webkit-box;
  -webkit-box-orient:vertical;
  -webkit-box-pack: center;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-align: center;
  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.global-spinner-container .icon {
  font-size: 40px;
  line-height: 1;
  width: 40px;
  height: 40px;
}
