@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);




#menu-2 SPAN {
	color: #ffffff !important;
	font-family: 'Lora', serif !important;
	font-size: 18px !important;
}
#menu-2 A {
	color: #ffffff !important;
}
#header1-0 H1 {
	color: #553982 !important;
	font-family: 'Oswald', sans-serif !important;
}
#header1-0 P {
	font-family: 'Roboto Slab', serif !important;
}
#contacts1-6 P {
	color: #7c706b !important;
	text-align: left !important;
	font-family: 'Oswald', sans-serif !important;
}
#contacts1-6 UL {
	text-align: left !important;
}
