<div ng-controller="RegisterpageCtrl" id="Registerpage">

<div id="fn_field0" ng-click="fn_field0Tap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="First Name" ng-model="fn_field0.value">
  </label>
</div>
</div>

<div id="Email" ng-click="EmailTap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Email" ng-model="Email.value">
  </label>
</div>
</div>

<div id="ln_field1" ng-click="ln_field1Tap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Last Name" ng-model="ln_field1.value">
  </label>
</div>
</div>

<div id="Register" ng-click="RegisterTap()">
<button class="button button-small button-calm button-outline ion-person-stalker icon-left">
  Register
</button>
</div>

<div id="Country" ng-click="CountryTap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Country" ng-model="Country.value">
  </label>
</div>
</div>

<div id="confirmPswd" ng-click="confirmPswdTap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Confirm Password" ng-model="confirmPswd.value">
  </label>
</div>
</div>

<div id="pswrd" ng-click="pswrdTap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Password" ng-model="pswrd.value">
  </label>
</div>
</div>

</div>