@font-face {
  font-family: 'Orbitron';
  src: url('webfonts/orbitron-black-webfont.ttf');
}

@font-face {
  font-family: 'Pacifico';
  src: url('Pacifico.ttf');
}


html{
	height:100%;
	width:100%;
	}

	
.bodybg{
  background: url("../images/nebula.jpg"); 
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}


.aboutbg{
  background: url("../images/images.jpg"); 
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}

h3.title{
  position: relative;
  padding-top:60px;
  padding-bottom:10px;
  z-index: 100;
  text-align:center;
  font-family:'Orbitron';
  font-size: 75px;
  color: darkgray;
  text-shadow: 0 1px #111010 ,-1px 0 #ea006e, -1px 2px #111010, -2px 1px #ea006e, -2px 3px #111010, -3px 2px #ea006e, -3px 4px #111010, -4px 3px #ea006e, -4px 5px #111010, -5px 4px #ea006e, -5px 6px #111010, -6px 5px #ea006e, -6px 7px #111010, -7px 6px #ea006e, -7px 8px #111010, -8px 7px #ea006e;
}


h5.title{
  position: relative;
  padding-top:30px;
  padding-bottom:10px;
  z-index: 100;
  text-align:center;
  font-family:'Orbitron';
  font-size: 50px;
  color: darkgray;
  text-shadow: 0 1px #111010 ,-1px 0 #ea006e, -1px 2px #111010, -2px 1px #ea006e, -2px 3px #111010, -3px 2px #ea006e, -3px 4px #111010, -4px 3px #ea006e, -4px 5px #111010, -5px 4px #ea006e, -5px 6px #111010, -6px 5px #ea006e, -6px 7px #111010, -7px 6px #ea006e, -7px 8px #111010, -8px 7px #ea006e;
}
h1.title{
  position: relative;
  padding-bottom:30px;
  z-index: 100;
  text-align:center;
  font-family:'Orbitron';
  font-size: 100px;
  color: darkgray;
  text-shadow: 0 1px #111010 ,-1px 0 #ea006e, -1px 2px #111010, -2px 1px #ea006e, -2px 3px #111010, -3px 2px #ea006e, -3px 4px #111010, -4px 3px #ea006e, -4px 5px #111010, -5px 4px #ea006e, -5px 6px #111010, -6px 5px #ea006e, -6px 7px #111010, -7px 6px #ea006e, -7px 8px #111010, -8px 7px #ea006e;
}

span.top{ 
padding-top:5px;
text-align:center;
}

h1.title span {
  font-family: 'Josefin Sans';
  text-transform: uppercase;
  text-shadow: none;
  font-weight: 300;
  width: 50%;
  margin-left:25%;
  text-align:center;
  font-size: 35%;
  display: block;
  mix-blend-mode: normal;
  border-top: 2px solid white;
}


h1.bottom{
  margin-top: 30px;
  text-align:center;
  padding-bottom:30px;
}

/*default*/
h1.hide{display: none;}
h1{font:normal 33px/30px 'Old Standard TT', serif; margin:0 0 10px 0;}
h2{font:italic 60px/50px 'Old Standard TT', serif; margin:0;}
.dashboard{font:normal 50px/50px 'Georgia','Impact', serif; margin:0 0 40px 0; text-align:center; font:strong;}
h2.title{font:normal 50px/50px 'Impact'; margin:0 0 40px 0; text-align:center; color:#4abcdd;}
h4.title{font:normal 35px/35px 'orbitron'; margin:0; text-align:center; color:#000;}
h3{font:normal bold 33px/33px 'Old Standard TT', serif;text-transform:uppercase; margin:0;}
h4{font:italic 25px/25px 'Georgia','Impact', serif; margin:0; color:whitesmoke; font:bold; text-align:center;}
.btn,a,a:hover{text-decoration: none;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;outline:0 ;}
a{color: #333;}

.btn{text-transform: uppercase;background: none;border:1px solid #fff;border-radius: 0;color: #fff;font: normal 11px/12px 'Titillium Web';padding:10px 25px;letter-spacing: 2px;}
.btn-default:hover{background: none;color: #fff;border:1px solid #fff;padding: 5px 40px;}
.btn-inverse{border:1px solid #555;}
.btn-inverse:hover{color: #ccc;border:1px solid #666;background:#333;}
.btn-primary{border:1px solid #333;color: #000; background:none; }
.btn-primary:hover{background:#333;border:1px solid #333; color: #fff; }
.btn-danger{border:1px solid #ea006e; background:#ea006e;color: #fff;}
.btn-danger:hover{border:1px solid #ea006e; background:#ea006e;color: #fff;}

.center{text-align: center;}

.height-full{height: 100% !important;}
.height-half{height: 50%;display: table;}

.content{padding: 48px 0 70px 0; margin-bottom:70px;}
.inside-page{padding: 80px 40px 100px 20px;height:100%;}
.breadcrumb{margin-bottom: 30px;background: none;padding: 0;}
.breadcrumb a{color: #4abcdd;}
.breadcrumb a:hover{text-decoration: underline;}
.hidden{display:none;}

.wishform{float:left; padding-top:8px;}

/*default*/



/*modal*/
.modal-dialog{max-width: 800px; width: 90%;margin-top: 10%;}
.modal-content{padding:15px;}
.modal-content h4{margin-bottom: 20px;}
.modal-content{ background:#464C4E; opacity:0.6; }
/*modal*/

/*nav*/
.navbar-inverse .navbar-nav>li>a {
    color: skyblue;
}
.navbar-nav > li > a{ padding-bottom:0px !important; text-transform: uppercase;font: normal 13px/19px 'Titillium Web';}
.navbar-inverse{border:none; opacity:1.0; background-color:black;}
.navbar-brand{padding:6px 15px !important;}
.dropdown-menu{background:#000; color: #fff; padding-top:15px; margin-top:10px !important;}
.dropdown-menu > li > a{color: #fff;padding:10px; }
.nav>li {
    margin-top: 0px !important;
}
.dropdown-menu > li > a:hover{background-color: #333;color: #fff;}
.navbar-nav>.user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
	
}

/*nav*/


/*search*/
.searchbar {margin-top: 13px;}
.searchbar .form-control,.newsletter .form-control{border:1px solid #555;background: none;border-radius: 0;padding:1px 5px;height: auto;width: 200px;color: #999;}
/*search*/


/*footer*/
.footer{background-color:black; opacity:1.0; position:fixed;margin-top:10px; z-index:1000;}

.footer .links{margin-top: 9px;float: left;}
.footer .links a{color: #888;padding: 0 10px;font: normal 13px/13px 'Titillium Web';}
.footer .links a:hover{color: #fff;}
.footer .social{margin-top: 0px;margin-right: 10px;}
.footer .social a{color: #fff;font-size: 20px;margin:0px;}
.footer .social a:hover{color: #999;}
/*footer*/





/*form styles*/
#registerForm{padding:20px 40px 20px 20px; z-index:1000; color:whitesmoke; margin-bottom:50px; }
 .form-control,div.selector{
    background-color: rgba(0,0,0,0.5);
    background-image: none !important;
	color:whitesmoke;
 }
.input-group[class*=col-] {
    float: none;
    padding-right:12px;
    padding-left: 14px;
}
.help-block{color:red; margin-bottom:1px; margin-top:0px; font:bold;}
.form-control input{color:whitesmoke;}
.form-control a{ color:whitesmoke;}
.control-label{color:whitesmoke;}
div.selector select {background-color:black !important;}
.form-control select{background-color:rgba(0,0,0,0.9); color:whitesmoke;}
.datepicker-dropdown{background-color:rgba(0,0,0,0.9); color:whitesmoke;}
.datepicker-dropdown hover:tr{color:black;}
#msform fieldset {position: absolute;width: 100%;}
#msform fieldset:not(:first-of-type) {display: none;}
#progressbar{padding: 0;width: 334px;margin: 0;height: 47px;margin-left: 240px;}
#progressbar li {list-style-type: none;width: 25%;float: left;position: relative;}
#progressbar li:before {content: counter(step);counter-increment: step;width: 29px;height: 29px;display: block;background: white;margin: 0;border-radius: 50%;border: 6px solid #ddd;text-indent: -9999px;}
#progressbar li:after {content:'';width: 100%;height: 6px;background: #ddd;position: absolute;left: -75%;top: 11px;z-index: -1; }
#progressbar li:first-child:after {content: none;}
#progressbar li.active:before{background: #ea006e;}
#progressbar li.active:after {background: #ddd;}
#progressbar li.done:before{background:url(../images/check.png) center no-repeat #c14387; }
.forgot-password{margin-bottom: 10px;}
#register_tnc_error{float:right;padding:20px;color: whitesmoke;}
#register_tnc_error a{color:#ea006e;}
/*form styles*/


/*create-account*/
.create-account .form-horizontal{border: 1px solid #ccc; background-color:rgba(0,0,0,0.32);padding-bottom:40px;}

/*about*/
.about h4{margin-bottom: 40px;}
.about h3{margin-bottom: 10px;}
.about p{margin-bottom: 40px; color:whitesmoke; font-family:"titillium web"; font-size:18px;}
.terms p , .terms li , .terms a {margin-bottom: 40px; color:whitesmoke; font-family:"titillium web"; font-size:18px;}


/*uniform*/
.radio-inline{padding-top: 4px;padding-left: 0;color: whitesmoke;}
.form-horizontal .radio{padding-top:3px;}
.radio-inline input[type="radio"]{margin-left: 0;}
div.radio{margin-right: 10px;}
div.radio span{background:url(../images/radio.png) 0 20px !important;}

div.radio span,div.radio input{width: 20px;height: 20px;}
div.radio span.checked{background-position: 0 0 !important;}
div.selector{border:none; border: 1px solid #999;height: 33px !important; padding:3px 10px !important; border-radius: 0; font-size: 14px; background-color:rgba(0,0,0,0.5); width: 100% !important;}
div.selector:hover{}
div.selector span{height: 36px;padding: 0; background: url(../images/drop.png) right 9px no-repeat !important;color: #8d8d8d; width: 100% !important;margin-right: 20px;}
div.selector:hover span{ background-position:right 9px !important; color: #282828;}
div.selector select{height: 36px !important;top: -2px; cursor: pointer; background-color: #fff;}
div.selector option{ padding: 10px;}
.checkbox label{padding-left: 0;}
.checkbox input[type=checkbox]{margin-left: -10px;}
/*uniform*/


/*responsive starts here*/
@media (max-width: 1200px){
	.bodybg{height:100%; width:100%}
  h2 {font: italic 45px/45px 'Old Standard TT', serif;}
  h4 {font: italic 20px/20px 'Old Standard TT', serif;}
  .btn{padding: 5px 12px;letter-spacing: 1px;}
  .nav>li>a{padding:15px 10px;}
  .searchbar .form-control{width: 160px;} 
  .searchbar .btn,.footer .btn{display: none;}
  
  .block{background-size: cover !important;font-size: 13px;}
  .block .info{display: inline-block; height: 120px; width: 120px; }
  .block .overlay{padding: 15px;}
  .block .info h3 {margin: 40px 0 5px 0;font: normal 23px/23px 'Old Standard TT', serif;}
  .block .overlay p {margin-bottom: 10px;}
  .block .overlay h4{font:italic 17px/15px 'Old Standard TT', serif;}
  #progressbar{display: none;}
  
  .bodybg { 
	background-position:center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

}

@media (max-width: 991px){
  .nav>li>a{padding:15px 7px; font-size: 12px;}
  .searchbar .form-control {width: 130px;}
  .navbar-inverse .navbar-brand{width: 150px;}
  .navbar-inverse .navbar-brand img{width: 100%;}
  .homepage .height-half{height: 25%;}
  .block .overlay h4{margin: 10px 0;}
  #registerForm{margin-bottom:25%;}
   h3.title{font-size: 50px;line-height: 53px;margin-bottom: 20px; padding-top: 30px;}
}
@media (max-width: 767px){
  h2{font-size: 20px; line-height: 20px;}
  h2.title{font-size: 30px;line-height: 53px;margin-bottom: 20px;}
  h1{font-size: 30px; line-height: 30px;margin-top: 20px;}
  h1.title{font-size: 40px;line-height: 53px;margin-bottom: 20px;}
  h3.title{font-size: 40px;line-height: 53px;margin-bottom: 20px; padding-top: 30px;}
 .breadcrumb{margin-bottom: 15px;}
  .banner .caption h2{margin-bottom: 15px;}
  .banner .caption a.btn{width: 100%; margin-top: 10px;}
  .nav>li>a {padding: 7px;}
  .navbar-nav .open .dropdown-menu>li>a {line-height: 15px;}
  .navbar-nav {margin-top: 0; margin-bottom: 0;}
  .searchbar {margin-top: 0;margin-bottom: 0;}
  .searchbar .form-control{width: 100%;}

  .banner .caption p{font: normal 15px/15px 'Old Standard TT', serif;}
  .fullpage {height: auto !important;padding-bottom: 0 ; float: left;}
  .block .overlay{position: relative;}
  .navbar-fixed-bottom{position:fixed;float: left; width: 100%;}

  .block .info{margin: 20px;}
  .block .overlay {padding: 25px;}
  .height-full{float: left;width: 100%;}

  .footer  .pull-left{width: 100%;}
  .footer  .navbar-form{margin: 0;}
  .footer .links, .footer .social{width: 100%; text-align: center;}
  .newsletter .form-control{width: 100%;}
  #registerForm{margin-bottom:40%;position:relative;}

  .related-products{margin-bottom: 0;}
  .inside-page{padding-bottom: 20px;}

  .lookbook .product .info{position: static;width: 100%;padding: 15px 0;}
  #msform{position: relative;}


  .checkout h4,.modal-content h4{margin-top: 20px;}
  .create-account .form-horizontal{padding: 20px;}

  .product-details .btn{padding: 5px 9px;letter-spacing: 0px;}


}


/* ==================================================================
	2.0 Bootstrap fix for WinPhone 8 and IE10 
================================================================== */

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }



/* ==================================================================
	5.0 Basic Layout Styles
================================================================== */
.center-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    text-align: center;
    overflow: auto;
}

.center-block {
    display: inline-block;
    vertical-align: middle;


.empty-space {
	width: 100%;
	height: 50px;
	overflow: hidden;
}

.empty-space-20 {
	width: 100%;
	height: 20px;
	overflow: hidden;
}

section {
	text-align: center;
}

.text-left {
	text-align: left !important;
}

.text-right { 
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

.text-justify {
	text-align: justify !important;
}

.font-thin {
	font-weight: 100 !important;
}

.font-light {
	font-weight: 400 !important;
}

.font-normal {
	font-weight: 400 !important;
}

.font-medium {
	font-weight: 500 !important;
}

.font-bold {
	font-weight: 700 !important;
}

.font-semibold {
	font-weight: 800 !important;
}

.font-ultrabold {
	font-weight: 900 !important;
}

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.clear {
	clear: both;
}

.all-margin {
	margin: 20px !important;
}

.left-margin {
	margin-left: 20px !important;
}

.right-margin {
	margin-right: 20px !important;
}

.top-margin {
	margin-top: 20px !important;
}

.bottom-margin {
	margin-bottom: 20px !important;
}

.no-margin {
	margin: 0 !important;
}

.no-left-margin {
	margin-left: 0 !important;
}

.no-right-margin {
	margin-right: 0 !important;
}

.no-top-margin {
	margin-top: 0 !important;
}

.no-bottom-margin {
	margin-bottom: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.no-left-padding {
	padding-left: 0 !important;
}

.no-right-padding {
	padding-right: 0 !important;
}

.no-top-padding {
	padding-top: 0 !important;
}

.no-bottom-padding {
	padding-bottom: 0 !important;
}

.csstransitions .animated,
.animated {
    visibility: hidden;
}

.csstransitions .visible {
    visibility: visible;
}

.video-container {
	width: 100%;
	height: 100%;
}

.img-rounded {
	border-radius: 100%;
}

.img-center {
	display: block;
	margin: 0 auto;
}

.position-relative {
	position: relative;
}



.starbackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    background-size: cover;
    -webkit-background-size: cover;
    overflow: hidden;
    z-index:0;
}

.star {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255,255,255,1);
    box-shadow: 0px 0px 10px rgba(255,255,255,0.75);
}

/* ==================================================================
	10.0 Forms
================================================================== */



.form-note {
	color: #333;
	font-style: italic;
	margin: 24px 0;
}

.formerror {
	border-left: 1px solid #d1355e;
	border-right: 1px solid #d1355e;
}

/* ==================================================================
	Forms - WebKit browsers
================================================================== */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { 
    color: #dfdfdf;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #dfdfdf;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #dfdfdf; 
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #dfdfdf;
}

placeholder { 
   color: #dfdfdf;
}
input[placeholder] { text-overflow: ellipsis; }

::-moz-placeholder { text-overflow: ellipsis; } /* firefox 19+ */

input:-moz-placeholder { text-overflow: ellipsis; }

/* ==================================================================
	11.0 Subscription Forms
================================================================== */
.subscription input[type="email"]{
	width: 80%;
	padding: 13px 25px;
}

.subscriberesponse {
	padding-top: 5px;
	color: #d1355e; font-size:16px;
	display: none;
	font-family: 'Raleway', sans-serif;
}
.subscribesuccess {
	padding-top: 5px;
	color: #090; font-size:16px;
	display: none;
	font-family: 'Raleway', sans-serif;
}


/* ==================================================================
	12.0 Contact Forms
================================================================== */

.contactresponse {
	padding-top: 5px;
	color: #d1355e; font-size:16px;
	display: none;
	font-family: 'Raleway', sans-serif;
}
.contactsuccess {
	padding-top: 5px;
	color: #090; font-size:16px;
	display: none;
	font-family: 'Raleway', sans-serif;
}

#contacts_list {
	margin-bottom: 45px;
	font-family: 'Arial', sans-serif;
}
#contacts_list li {
	overflow: hidden;
	list-style: none;
	font-weight: 300;
	font-size: 15px;
	line-height: 18px;
	color: #c5c5c4;
	margin:10px 0 0 0;
}
#contacts_list li i {
	float: left;
	margin-right: 7px;
	color: #FFF;
}

/* WebKit browsers */
.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder { 
    color: #dfdfdf;
}
.contact-form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #dfdfdf;
    opacity:  1;
}
.contact-form ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #dfdfdf; 
    opacity:  1;
}
.contact-form :-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #dfdfdf;
}

	
/* ==================================================================
	13.0 Dotstyle
================================================================== */

.navdotstyle {
	overflow: hidden;
	position: fixed;
	margin: 0 auto;
	padding: 21px;
	padding-top: 60px;
	width: 100%;
	text-align: center;	
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10000;	
}

.navigation-dot-container {
	display: table;
	margin: 0 auto;
	width: 100%;
	text-align:center;
}
.navigation-dot-container:after {
    content: "";
    position: relative;
	width: 100%;
	height: 1px;	
	float: right;
	margin-top: 10px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMjM1YTliIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjN2RiOWU4IiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(left, rgba(30,87,153,0) 0%, rgba(35,90,155,0) 1%, rgba(255,255,255,0.1) 50%, rgba(125,185,232,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,87,153,0)), color-stop(1%,rgba(35,90,155,0)), color-stop(50%,rgba(255,255,255,0.1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(35,90,155,0) 1%,rgba(255,255,255,0.1) 50%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(35,90,155,0) 1%,rgba(255,255,255,0.1) 50%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(35,90,155,0) 1%,rgba(255,255,255,0.1) 50%,rgba(125,185,232,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(30,87,153,0) 0%,rgba(35,90,155,0) 1%,rgba(255,255,255,0.1) 50%,rgba(125,185,232,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#007db9e8',GradientType=1 ); /* IE6-8 */
}
.navigation-dot-container:before {
    content: "";
    position: relative;
	width: 100%;
	height: 1px;	
	float: left;
	margin-bottom: 11px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMjM1YTliIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjN2RiOWU4IiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(left, rgba(30,87,153,0) 0%, rgba(35,90,155,0) 1%, rgba(255,255,255,0.1) 50%, rgba(125,185,232,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,87,153,0)), color-stop(1%,rgba(35,90,155,0)), color-stop(50%,rgba(255,255,255,0.1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(35,90,155,0) 1%,rgba(255,255,255,0.1) 50%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(35,90,155,0) 1%,rgba(255,255,255,0.1) 50%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(35,90,155,0) 1%,rgba(255,255,255,0.1) 50%,rgba(125,185,232,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(30,87,153,0) 0%,rgba(35,90,155,0) 1%,rgba(255,255,255,0.1) 50%,rgba(125,185,232,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#007db9e8',GradientType=1 ); /* IE6-8 */
}

/* Common styles and resets */

.navigation-dot-container ul {
	position: relative;
	display: inline-block;
	margin: 0 16px;
	padding: 0;
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	float: none;
	text-align:center;
}

.navigation-dot-container li {
	position: relative;
	display: block;
	float: left;
	margin: 0 14px;
	width: 16px;
	height: 16px;
	cursor: pointer;
	border-radius:0	;
	background:rgba(209,53,94,1);
	text-shadow: -5px 5px 5px rgba(0,0,0,0.3);
}

.navigation-dot-container li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius:0	;	
	background-color: rgba(255, 255, 255, 0.3);
	text-indent: -999em; /* make the text accessible to screen readers */
	cursor: pointer;
	position: absolute;
}

.navigation-dot-container li a:focus {
	outline: none;
}

/* Tooltip */

.navdotstyle-tooltip li {
	border: 2px solid #fff;
	border-radius: 50%;
	z-index: 1;
	-webkit-transition: border-color 0.3s ease;
	transition: border-color 0.3s ease;
}

.navdotstyle-tooltip li a {
	top: auto;
	bottom: 250%;
	left: 50%;
	visibility: hidden;
	padding: 0 10px;
	width: auto;
	height: auto;
	border-radius: 0;
	background:rgba(209,53,94,1);
	color: #fff;
	text-indent: 0;
	line-height: 2;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;
}

.navdotstyle-tooltip li a::after { /* http: //cssarrowplease.com/ */
	position: absolute;
	left: 50%;
	margin-left: -10px;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 10px;
	border-color: transparent;
	border-top-color: rgba(209,53,94,1);
	content: '';
	pointer-events: none;
	top: 99%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.no-touch .navdotstyle-tooltip li:hover a,
.navdotstyle-tooltip li.navcurrent a {
	z-index: 100;
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(0%);
	transform: translateX(-50%) translateY(0%);
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease;
	color: #fff!important;
	border: 1px solid rgba(255,255,255,0.4);
}

.navdotstyle-tooltip li.navcurrent {
	border-color: #c44d48;
}

.navdotstyle-tooltip li:hover {
	z-index: 100;
}

.no-touch .navdotstyle-tooltip ul:hover li.navcurrent a {
	opacity: 0.6;
	color: #fff!important;
}

.navdotstyle-tooltip ul li.navcurrent:hover a {
	opacity: 1;
	color: #fff!important;
}

/*==================================================================
	14.0 Services
================================================================== */
#services-content .fa{
color:#fff;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
margin-right:10px;
}
.service1:hover .fa{
color:#d1355e!important;
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
-o-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
-webkit-transform: rotate(360deg);
-ms-transform: rotate(360deg); 
transform: rotate(360deg);
}
.service2:hover .fa{
color:#d1355e!important;
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
-o-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
-webkit-transform: rotate(360deg);
-ms-transform: rotate(360deg); 
transform: rotate(360deg);
}
.service3:hover .fa{
color:#d1355e!important;
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
-o-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
-webkit-transform: rotate(360deg);
-ms-transform: rotate(360deg); 
transform: rotate(360deg);
}


/* ==================================================================
	16.0 Mobile
================================================================== */

body.mobile {
	-webkit-text-size-adjust:none;
}

body.mobile .animated {
	display: block;
	visibility: visible;
}

/*==================================================================
	16.0 Custom CSS
================================================================== */


html {
	height: 100%;
}
body {
	height: 100%;
	padding: 0;
	position: relative;
	margin: 0;
	font-weight: 600;
	font-family: 'Khand', sans-serif;
	background: url(../images/clouds/sky1.jpg) center 0 no-repeat #000 fixed;
	background-size: cover;
	color: #636363;
	font-size: 18px;
	line-height: 1.2em;
}
body.gallery-bg {
	background: #000;
}
body.clouds-bg {
	background: url(../images/clouds/Night-Sky-Wide-Wallpaper.jpg) center 0 no-repeat fixed;
	background-size: cover;
}

.cloud {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(../images/bg/clouds_bg.html) center center no-repeat;
}
#gmap {
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

body.singlecolor {
	background: #01567d;
}
a {
	outline: none;
	color: #c2c2c2;
	text-decoration: none;
}
p {
	margin: 0 0 24px;
}
h3 {
	font-size: 24px;
	line-height: 29px;
	color: #fff;
	margin: 0 0 10px;
	text-transform: uppercase;
	font-weight: 900;
}
h2 {
	font-size: 48px;
	line-height: 58px;
	color: #454545;
	text-transform: uppercase;
	font-weight: 600;
}

@media only screen and (max-width: 480px) {
	h2 {
		line-height: 36px;
		font-size: 30px;
		margin-bottom: 20px;
	}
}
::selection {
  background: #000; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #000; /* Gecko Browsers */
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
   opacity:  1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #fff;
   opacity:  1;
}

body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 1170px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}
.screen-section:first-of-type .section-inner {
	visibility: visible;
}
.screen-section .section-inner {
	z-index: 99;
}
.section-inner, .section-half {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.section-halfbg img {
	max-width: 100%;
}
.section-inner {
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	-o-transform-origin: center center;
	transform-origin: center center;
}
.section-half:nth-of-type(2) {
	height: 60vh;
	background-position: center center;
	background-repeat: no-repeat;
}
.section-half:nth-of-type(1) {
	background-color: #fff;
}

@media only screen and (min-width: 1170px) {

	.screen-section {
		height: 100vh;
	}
	.section-inner {
		height: 100vh;
		width: 100%;
		top: 0;
		left: 0;
		position: fixed;
		visibility: hidden;
	}
	.left-half-block {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 50%;
		background: #fff;
	}
	.section-half {
		height: 100vh !important;
    	width: 50%;
	}
	.section-inner > * {
		visibility: visible;
	}
	.section-half {
		position: absolute;
		overflow: hidden;
	}
	.screen-section:nth-of-type(even) .section-half:first-of-type,
	.screen-section:nth-of-type(odd) .section-half:nth-of-type(2) {
		top: 0;
		position: absolute;
	    -webkit-transform: translateX(-100%);
	    -moz-transform: translateX(-100%);
	    -ms-transform: translateX(-100%);
	    -o-transform: translateX(-100%);
	    transform: translateX(-100%);
	}

	.screen-section:nth-of-type(odd) .section-half:first-of-type,
	.screen-section:nth-of-type(even) .section-half:nth-of-type(2) {
		left: 50%;
		right: 0;
		background: #fff;
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
	}
}

/* Section Backgrounds */

.screen-section.section-2 .right-half-block.section-half {
	background: url(../images/section2-bg.jpg) 50% 50% no-repeat;
	background-size: cover;
}
.screen-section.section-3 .right-half-block.section-half {
	background: url(../images/section3-bg.jpg) 50% 50% no-repeat;
	background-size: cover;
}
.screen-section.section-4 .right-half-block.section-half {
	background: url(../images/section4-bg.jpg) 50% 50% no-repeat;
	background-size: cover;
}

/*
***********************************************
	Header
*/

#site-header {
	padding-top: 50px;
	color: #fff;
	text-align: center;
}
#site-subtitle {
	font-size: 11px;
	line-height: 14px;
	margin: 0;
	font-weight: 400;
	letter-spacing: 5px;
	word-spacing: 2px;
}
#site-logo {
	margin: 0 0 14px;
}


/*
***********************************************
	Countdown Block
*/


@media only screen and (min-width: 1170px) {
	#countdown_block {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
	}
}
@media only screen and (max-width: 1170px) {
	#countdown_block {
		margin-top: 0 !important;
	}
}

#countdown_block {
	text-align: center;
	display: none;
}
#site-tagline {
	font-size: 48px;
	line-height: 58px;
	color: #fff;
	margin: 0;
	font-weight: 400;
}
#countdown {
	margin-bottom: 94px;
}
#countdown .countdown-section {
	display: inline-block;
	color: #fff;
	margin: 0 34px;
}
#countdown .countdown-amount {
	font-weight: 700;
	font-size: 100px;
	display: block;
	line-height: 91px;
}
#countdown .countdown-period {
	font-size: 18px;
	line-height: 22px;
	font-weight: 300;
	letter-spacing: 2px;
}
@media only screen and (max-width: 768px) {
	#countdown .countdown-section {
		margin: 0 20px;
	}
	#countdown .countdown-amount {
		font-size: 72px;
		line-height: 72px;
	}
}
@media only screen and (max-width: 480px) {
	#site-tagline {
		font-size: 30px;
		line-height: 36px;
	}
	#countdown .countdown-section {
		margin: 0 15px;
	}
	#countdown .countdown-amount {
		font-size: 45px;
		line-height: 50px;
	}
	#countdown .countdown-period {
		font-size: 12px;
		line-height: 15px;
	}
}


/*
***********************************************
	Subscribe Form
*/

#subscribe-form {
	max-width: 400px;
	margin: 0 auto;
}
#subscribe-form .mc-field-group {
	margin-bottom: 20px;
}
#subscribe-form input[type='email'] {
	border: 2px solid #fff;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-right-width: 1px;
	background: none;
	height: 45px;
	line-height: 40px;
	padding: 2px 19px 0;
	border-radius: 5px 0 0 5px;
	width: 279px;
	font-family: 'Khand', sans-serif;
	vertical-align: top;
	color: #fff;
	font-size: 18px;
	-webkit-transition: all ease .4s;
	-moz-transition: all ease .4s;
	-ms-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
}
#subscribe-form input[type='submit'] {
	font-family: 'Khand', sans-serif;
	height: 45px;
	color: #fff;
	border: 2px solid #fff;
	border-left-width: 1px;
	border-radius: 0 5px 5px 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: none;
	font-size: 18px;
	line-height: 40px;
	text-transform: uppercase;
	padding: 0 22px 0 22px;
	cursor: pointer;
	-webkit-transition: all ease .4s;
	-moz-transition: all ease .4s;
	-ms-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
}
#subscribe-form input[type='email'].mce_inline_error + input[type='submit'] {
	border-color: #e34a4a !important;
}
#subscribe-form input[type='submit']:hover {
	background: #fff;
	color: #636363;
}
#mc_embed_signup input.mce_inline_error {
	border-color: #e34a4a !important;
}
#mc_embed_signup div.mce_inline_error {
	background: #e34a4a !important;
	margin-top: 20px !important;
}
#mc_embed_signup #mce-success-response {
	color: #fff;
}
@media only screen and (max-width: 480px) {
	#subscribe-form {
		max-width: 300px;
	}
	#subscribe-form input[type='submit'] {
		padding: 0 10px;
	}
	#subscribe-form input[type='email'] {
		width: 205px;
	}
}


/*
***********************************************
	Site Footer
*/

@keyframes sunrise {
	from {
		opacity: .4;
	}
	to {
		opacity: 1;
	}
}

#site-footer {
	display: block;
	position: absolute;
	bottom: 52px;
	left: 0;
	right: 0;
	text-align: center;
}
.scrolldown > span {
	color: #fff;
	display: inline-block;
	vertical-align: top;
	-webkit-animation: sunrise 1.2s .5s infinite; /* Safari 4+ */
	-moz-animation:    sunrise 1.2s .5s infinite; /* Fx 5+ */
	-o-animation:      sunrise 1.2s .5s infinite; /* Opera 12+ */
	animation:         sunrise 1.2s .5s infinite;
}
.scrolldown .label-or {
	padding-top: 31px;
	margin: 0 5px 0 21px;
	font-weight: 400;
}
.scrolldown-title {
	display: block;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	padding-bottom: 4px;
}
#site-footer i.scroll-icon {
	vertical-align: top;
	display: inline-block;
	width: 17px;
	height: 29px;
	background: url(../images/mouse-down.png) 0 0 no-repeat;
	background-size: cover;
}
.scrolldown .keyscroll .key-up,
.scrolldown .keyscroll .key-down {
	display: block;
	border: 1px solid #fff;
	width: 26px;
	text-align: center;
	height: 14px;
	line-height: 10px;
	margin: 0 auto;
	border-radius: 3px;
	margin-bottom: 1px;
	font-size: 13px;
}
.scrolldown .keyscroll i:before {
	line-height: 12px;
}
.scrolldown .keyscroll .key-down i:before {
	line-height: 14px;
}

@media only screen and (max-width: 1170px) {
	#site-footer {
		padding-bottom: 20px;
		position: static;
	}
}

/*
***********************************************
	Content
*/
.section-content {
	text-align: center;
	padding: 20px 60px;
}
.section-content iframe {
	max-width: 100%;
	height: auto;
}
.section-content h4 {
	text-transform: uppercase;
	margin: 50px 0 14px;
	color: #454545;
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
}
@media only screen and (min-width: 1170px) {
	.section-content {
		font-weight: 400;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
	}
}
@media only screen and (max-width: 1170px) {
	.section-content {
		top: 0;
		margin-top: 0 !important;
	}
}
.section-content .section-title {
	margin: 0 0 42px 0;
}
@media only screen and (max-width: 480px) {
	.section-content {
		padding: 20px;
	}
	.section-content .section-title {
		margin: 0 0 20px 0;
	}
}


/*
***********************************************
	Contacts
*/

#site-contacts {
	color: #464646;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 20px;
}
#site-social {
	position: absolute;
	top: 20px;
	right: 0;
	margin: 0 45px 0 0;
	padding: 27px 0 0;
}
@media only screen and (max-width: 1170px) {
	#site-social {
		position: static;
		padding: 0;
		margin: 0 0 20px;
	}
}
#site-social li {
	display: inline-block;
	font-size: 24px;
	line-height: 29px;
	list-style: none;
	margin-left: 1px;
}
#site-social li a {
	-webkit-transition: all ease .4s;
	-moz-transition: all ease .4s;
	-ms-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
	color: rgba(255,255,255, .5);
}
#site-social li a i:before {
	margin: 0;
	width: auto;
}
#site-social li a:hover {
	color: #fff;
}

#contacts_form {
	padding-top: 77px;
	width: 100%;
	margin: 0 auto;
	max-width: 245px;
}
#contacts_form label {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 6px;
	font-size: 16px;
	line-height: 20px;
	color: #383838;
	-webkit-transition: all ease .4s;
	-moz-transition: all ease .4s;
	-ms-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
}
#contacts_form .input-filled label {
	bottom: 38px;
}
#contacts_form input[type='text'],
#contacts_form input[type='email'],
#contacts_form textarea {
	font-family: 'Khand', sans-serif;
	text-align: center;
	border: none;
	padding: 0;
	width: 100%;
	border-bottom: 1px solid #353535;
	height: 33px;
	line-height: 33px;
	position: relative;
	z-index: 99;
	background: none;
	-webkit-transition: border ease .2s;
	-moz-transition: border ease .2s;
	-ms-transition: border ease .2s;
	-o-transition: border ease .2s;
	transition: border ease .2s;
}
#contacts_form textarea {
	resize: none;
	margin: 0;
	vertical-align: top;
}
#contacts_form .field-row {
	position: relative;
}
#contacts_form .field-row + .field-row {
	padding-top: 37px;
}
#contacts_form .field-row.row-submit {
	padding-top: 30px;
}
#contacts_form .field-row:after {
	height: 3px;
	display: block;
	position: absolute;
	background: #00aeef;
	bottom: 0;
	left: 0;
	right: 100%;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
	content: "";
	z-index: 99;
}
#contacts_form .field-row.input-filled:after {
	right: 0;
}
#contacts_form .form_submit {
	font-weight: 500;
	text-transform: uppercase;
	font-family: 'Khand', sans-serif;
	color: #555;
	border: 2px solid #cfcece;
	border-radius: 3px;
	height: 35px;
	line-height: 33px;
	padding: 0 23px;
	background: #fff;
	cursor: pointer;
	-webkit-transition: all ease .4s;
	-moz-transition: all ease .4s;
	-ms-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
}
#contacts_form .form_submit:hover {
	background: #ebebeb;
	border-color: #ebebeb;
}
#contacts_form .form_submit i {
	display: none;
}
#contacts_form .form_results {
	font-size: 13px;
	line-height: 18px;
	padding-top: 10px;
}
#contacts_form .form_results .error_block {
	color: red;
}

/*
***********************************************
	Services
*/
.services {
	margin: 0 -10px;
}
.services:after {
	clear: both;
	width: 100%;
	display: block;
	content: "";
}
.services .service-item {
	float: left;
	width: 33%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px;
}
.service-link {
	border: 2px solid #cfcece;
	border-radius: 3px;
	display: inline-block;
	font-size: 14px;
	line-height: 33px;
	height: 31px;
	color: #555555;
	padding: 0 24px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all ease .4s;
	-moz-transition: all ease .4s;
	-ms-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
}
.service-link:hover {
	background: #ebebeb;
	border-color: #ebebeb;
}

@media only screen and (max-width: 480px) {
	.services .service-item {
		float: none;
		width: auto;
		margin-bottom: 30px;
	}
}
.services .service-item .service-title {
	font-size: 22px;
	line-height: 27px;
	text-transform: uppercase;
	font-weight: 600;
	color: #464646;
	margin: 0 0 6px;
}
.services .service-item i {
	display: inline-block;
	width: 38px;
	height: 38px;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 19px;
}
.services .service-item .service-content {
	margin-bottom: 28px;
}
.services .service-item i.service-icon-1 {
	background-image: url(../images/services-icon-1.png);
}
.services .service-item i.service-icon-2 {
	background-image: url(../images/services-icon-2.png);
}
.services .service-item i.service-icon-3 {
	background-image: url(../images/services-icon-3.png);
}

#mce-responses + div {
	position: absolute;
	left: -5000px;	
}
#mce-responses .response {
	display: none;
}


/* Slideshow 1 */

#bg_slideshow {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50;
}
.flex-direction-nav li {
	position: fixed;
	top: 50%;
	margin-top: -50px;
	left: 0;
	width: 100px;
	height: 100px;
	display: block;
	z-index: 999;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-perspective-origin: 100% 50%;
	perspective-origin: 100% 50%;
}
.flex-direction-nav li span {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	left: 100%;
	-webkit-transform: rotateY(90deg);
	transform: rotateY(90deg);
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	background-size: cover;
}
.flex-direction-nav li + li {
	left: auto;
	right: 0;
	-webkit-perspective-origin: 0% 50%;
	perspective-origin: 0% 50%;
}
.flex-direction-nav li a {
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-ms-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/slider_controls.png) center 15px no-repeat;
}
.flex-direction-nav li + li a {
	background-position: center -97px;
}
.flex-direction-nav li:hover a {
	background-color: #FFF;
}
.flex-direction-nav li + li a {
	-webkit-perspective-origin: 100% 50%;
	perspective-origin: 100% 50%;
}
.flex-direction-nav li + li span {
	left: auto;
	right: 100%;
	-webkit-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}
.flex-direction-nav li:hover span {

	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}
#bg_slideshow .slides {
	margin: 0;
	padding: 0;
	position: absolute;
	height: 100%;
	width: 100%;
}
#bg_slideshow .slides li {
	height: 100%;
	position: relative;
	float: left;
	list-style: none;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 0;
}
#bg_slideshow .flex-direction-nav {
	position: absolute;
	z-index: 9999;
	top: 100px;
}

#bg_slideshow .slides li.bg_slide_1 {
	background-image: url(../images/bg/gal1_slide1.jpg);
}
#bg_slideshow .slides li.bg_slide_2 {
	background-image: url(../images/bg/gal1_slide2.jpg);
}
#bg_slideshow .slides li.bg_slide_3 {
	background-image: url(../images/bg/gal1_slide3.jpg);
}

#bg_slideshow.gallery_2 .slides li.bg_slide_1 {
	background-image: url(../images/bg/gal2_slide1.html);
}
#bg_slideshow.gallery_2 .slides li.bg_slide_2 {
	background-image: url(../images/bg/gal2_slide2.html);
}
#bg_slideshow.gallery_2 .slides li.bg_slide_3 {
	background-image: url(../images/bg/gal2_slide3.html);
}
.pattern_overlay {
	position: relative;
}
.pattern_overlay:after {
	background: rgba(0,0,0, .5);
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	content: "";
}

/* Video background */

#site_video_bg {
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1;
}
#site_video_bg.youtube {
	display: none;
}
#site_video_bg video {
	width: 100%;
	height: auto;
}

#demo-header {
	position: relative;
	text-align: center;
	background: #fff;
	padding: 50px 0 85px;
}
#demo-title {
	margin: 0;
	color: #2b2b2b;
	text-transform: uppercase;
	font-size: 60px;
	line-height: 72px;
}
#demo-subtitle {
	color: #000;
	padding-top: 7px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	margin-bottom: 26px;
}
.subtitle-divider {
	display: block;
	width: 50px;
	height: 6px;
	background: #00aeef;
	margin: 0 auto;
}
.demo-mousedown {
	position: absolute;
	bottom: -36px;
	left: 50%;
	width: 72px;
	height: 72px;
	background: url(../images/demo-mousedown.png) center center no-repeat;
	margin-left: -36px;
}
#demo-thumbs {
	margin: 0;
	padding: 87px 0 0;
	text-align: center;
}
#demo-thumbs li {
	background: url(../images/demo-thumb-bg.png) 0 0 no-repeat;
	display: inline-block;
	list-style: none;
	margin: 0 13px;
	padding: 16px 0 44px;
}
#demo-thumbs li img {
	vertical-align: top;
}
#demo-thumbs li.demo-thumb h4 {
	font-size: 22px;
	line-height: 26px;
	color: #2b2b2b;
	text-transform: uppercase;
	margin: 0;
	padding: 14px 0 0;
	font-weight: 600;
}
#demo-footer {
	text-align: center;
	background: #fff;
	color: #3f3f3f;
	font-size: 16px;
	line-height: 22px;
	padding: 20px 0;
	font-weight: 400;
}
#demo-footer .sitename {
	text-transform: uppercase;
	color: #00aeef;
	font-weight: 500;
}


