@font-face {
  font-family: 'Orbitron';
  src: url('webfonts/orbitron-black-webfont.ttf');
}

@font-face {
  font-family: 'Pacifico';
  src: url('Pacifico.ttf');
}


html{
	height:100%;
	width:100%;
	}


	
.bodybg{
 position:relative;
  background: url("../images/products/bg-stars-full.jpg"), url("../images/products/dots.png"), 	-webkit-radial-gradient(2.01% 1.95%, circle, #83a4d4, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(97.99% 81.05%, 	circle, #b6fbff, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(50% 50%, circle, #ffffff, #ffffff 100%);
  background: url("../images/products/bg-stars-full.jpg"), url("../images/products/dots.png"), radial-gradient(circle at 2.01% 1.95%, #83a4d4, rgba(0, 0, 0, 0) 100%), radial-gradient(circle at 97.99% 81.05%, #b6fbff, rgba(0, 0, 0, 0) 100%), radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  -moz-background-size:cover;
  -webkit-background-size:cover;
  -o-background-size: cover;
  height: 100%;

}
h1.title{
  position: relative;
  padding-bottom:30px;
  z-index: 100;
  text-align:center;
  font-family:'Orbitron';
  font-size: 100px;
  color: darkgray;
  mix-blend-mode: luminosity;
  text-shadow: 0 1px #111010 ,-1px 0 #FC4A6E, -1px 2px #111010, -2px 1px #FC4A6E, -2px 3px #111010, -3px 2px #FC4A6E, -3px 4px #111010, -4px 3px #FC4A6E, -4px 5px #111010, -5px 4px #FC4A6E, -5px 6px #111010, -6px 5px #FC4A6E, -6px 7px #111010, -7px 6px #FC4A6E, -7px 8px #111010, -8px 7px #FC4A6E;
}

span.top{ 
padding-top:5px;
text-align:center;
}

h1.title span {
  font-family: 'Josefin Sans';
  text-transform: uppercase;
  text-shadow: none;
  font-weight: 300;
  width: 50%;
  margin-left:25%;
  text-align:center;
  font-size: 35%;
  display: block;
  mix-blend-mode: normal;
  border-top: 2px solid white;
}


h1.bottom{
  margin-top: 30px;
  text-align:center;
  padding-bottom:30px;
}


.bodybg:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width:100%;
  -webkit-animation-name: gradOpacity;
          animation-name: gradOpacity;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background: -webkit-radial-gradient(2.01% 18.05%, circle, #ed4264, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(97.99% 95.04%, circle, #ffedbc, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(50% 50%, circle, #ffffff, #ffffff 100%);
  background: radial-gradient(circle at 2.01% 18.05%, #ed4264, rgba(0, 0, 0, 0) 100%), radial-gradient(circle at 97.99% 95.04%, #ffedbc, rgba(0, 0, 0, 0) 100%), radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);
  mix-blend-mode: overlay;
  opacity: 0;
  z-index: 0;
}

@-webkit-keyframes gradOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes gradOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
	



/*default*/
h1.hide{display: none;}
h1{font:normal 33px/30px 'Old Standard TT', serif; margin:0 0 10px 0;}
h2{font:italic 60px/50px 'Old Standard TT', serif; margin:0;}
.dashboard{font:normal 50px/50px 'Georgia','Impact', serif; margin:0 0 40px 0; text-align:center; font:strong;}
h2.title{font:normal 50px/50px 'Impact'; margin:0 0 40px 0; text-align:center; color:#4abcdd;}
h3{font:normal 33px/33px 'Old Standard TT', serif;text-transform:uppercase; margin:0;}
h4{font:italic 25px/25px 'Georgia','Impact', serif; margin:0; color:whitesmoke; font:bold; text-align:center;}
.btn,a,a:hover{text-decoration: none;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;outline:0 ;}
a{color: #333;}

.btn{text-transform: uppercase;background: none;border:1px solid #fff;border-radius: 0;color: #fff;font: normal 11px/12px 'Titillium Web';padding:10px 25px;letter-spacing: 2px;}
.btn-default:hover{background: none;color: #fff;border:1px solid #fff;padding: 5px 40px;}
.btn-inverse{border:1px solid #555;}
.btn-inverse:hover{color: #ccc;border:1px solid #666;background:#333;}
.btn-primary{border:1px solid #333;color: #000; background:none; }
.btn-primary:hover{background:#333;border:1px solid #333; color: #fff; }
.btn-danger{border:1px solid #ea006e; background:#ea006e;color: #fff;}
.btn-danger:hover{border:1px solid #ea006e; background:#ea006e;color: #fff;}

.center{text-align: center;}

.height-full{height: 100% !important;}
.height-half{height: 50%;display: table;}

.content{padding: 48px 0 38px 0;}
.inside-page{padding: 80px 40px 70px 20px;height:100%;}
.breadcrumb{margin-bottom: 30px;background: none;padding: 0;}
.breadcrumb a{color: #4abcdd;}
.breadcrumb a:hover{text-decoration: underline;}
.hidden{display:none;}

.wishform{float:left ; padding-top:8px;}

/*default*/



/*modal*/
.modal-dialog{max-width: 800px; width: 90%;margin-top: 10%;}
.modal-content{padding:15px;}
.modal-content h4{margin-bottom: 20px;}
.modal-content{ background: #4abcdd; opacity:0.6; }
/*modal*/

/*nav*/
.navbar-nav > li > a{text-transform: uppercase;font: normal 13px/19px 'Titillium Web';}
.navbar-inverse{border:none; opacity:0.4; background-color:black;}
.navbar-fixed-top{ background:rgba(0,0,0,0.32); opacity:1.0;}
.navbar-brand{padding: 6px 15px;}
.dropdown-menu{background:#000; color: #fff; padding:5px;}
.dropdown-menu > li > a{color: #fff;padding:10px;}
.dropdown-menu > li > a:hover{background-color: #333;color: #fff;}
.navbar-nav>.user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

/*nav*/


/*search*/
.searchbar {margin-top: 13px;}
.searchbar .form-control,.newsletter .form-control{border:1px solid #555;background: none;border-radius: 0;padding:1px 5px;height: auto;width: 200px;color: #999;}
/*search*/


/*footer*/
.footer{background-color:rgba(0,0,0,0.32); position:fixed;margin-top:10px; z-index:1000;}

.footer .links{margin-top: 9px;float: left;}
.footer .links a{color: #888;padding: 0 10px;font: normal 13px/13px 'Titillium Web';}
.footer .links a:hover{color: #fff;}
.footer .social{margin-top: 5px;margin-right: 10px;}
.footer .social a{color: #fff;font-size: 20px;margin:0 3px;}
.footer .social a:hover{color: #999;}
/*footer*/


/*home page*/
.homepage {background-color: #333;}
.homepage .col-md-6{padding-right: 0;padding-left: 0;}


.banner {background-color: #000;}
.carousel-control i.fa{font-size: 30px;top: 50%;position: absolute;margin-top: -16px;}
.banner .caption{position: absolute;top: 50%;text-align: center;width: 100%;margin-top: -100px;padding: 0 15%;color: #fff;}
.banner .caption h2{margin-bottom:20px;}
.banner .caption p{margin-bottom: 30px;font:normal 25px/30px 'Old Standard TT', serif;color: #eee;}
.banner .caption a.btn{margin: 0 5px;}

.block.women{ background-image:url(../images/choice1.jpg); }
.block.store{ background-image:url(../images/shop.jpg);display: block; }
.block.men{ background-image:url(../images/choice2.jpg); }
.block.couple{ background-image:url(../images/choice3.jpg); }
.block{background-size:105%; display: table-cell;vertical-align: middle;text-align: center;position: relative;background-position: center;font: normal 16px 'Old Standard TT';-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out; background-repeat: no-repeat;}
.block:hover{background-size:125%;}
.block .info{background: rgba(234,0,110,0.9);border-radius: 50%;height: 150px;width: 150px;color: #fff;display: none;text-align: center;}
.block .info h3{ margin:50px 0 5px 0;}
.block:hover .info{display: inline-block;}
.block .overlay{background: rgba(234,0,110,0.9);position: absolute;top: 0;right: 0;bottom: 0;left: 0;color: #fff;padding: 20px; opacity:0.8;}
.block .overlay .store-info{display: table; vertical-align: middle;height: 100%;width: 100%;}
.block .overlay .store-info .desc{display: table-cell; vertical-align: middle;}
.block .overlay h4{margin:0 0 10px 0;border-bottom: 1px solid #ccc;display: inline-block;padding-bottom: 10px;}
.block .overlay p{margin-bottom: 30px;}
/*home page*/



/*form styles*/
#registerForm{padding:20px; z-index:1000; color:whitesmoke;}
 .form-control,div.selector{
    background-color: rgba(0,0,0,0.5);
    background-image: none !important;
	color:whitesmoke;
 }
.input-group[class*=col-] {
    float: none;
    padding-right:12px;
    padding-left: 14px;
}
.form-control input{color:whitesmoke;}
.form-control a{ color:whitesmoke;}
.control-label{color:whitesmoke;}
div.selector select {background-color:black !important;}
.form-control select{background-color:rgba(0,0,0,0.9); color:whitesmoke;}
.datepicker-dropdown{background-color:rgba(0,0,0,0.9); color:whitesmoke;}
.datepicker-dropdown hover:tr{color:black;}
#msform fieldset {position: absolute;width: 100%;}
#msform fieldset:not(:first-of-type) {display: none;}
#progressbar{padding: 0;width: 334px;margin: 0;height: 47px;margin-left: 240px;}
#progressbar li {list-style-type: none;width: 25%;float: left;position: relative;}
#progressbar li:before {content: counter(step);counter-increment: step;width: 29px;height: 29px;display: block;background: white;margin: 0;border-radius: 50%;border: 6px solid #ddd;text-indent: -9999px;}
#progressbar li:after {content:'';width: 100%;height: 6px;background: #ddd;position: absolute;left: -75%;top: 11px;z-index: -1; }
#progressbar li:first-child:after {content: none;}
#progressbar li.active:before{background: #ea006e;}
#progressbar li.active:after {background: #ddd;}
#progressbar li.done:before{background:url(../images/check.png) center no-repeat #c14387; }
.forgot-password{margin-bottom: 10px;}
#register_tnc_error{float:right;padding:20px;color: whitesmoke;}
#register_tnc_error a{color:whitesmoke;}
/*form styles*/


/*create-account*/
.create-account .form-horizontal{border: 1px solid #ccc; background-color:rgba(0,0,0,0.32);padding-bottom:40px;}

/*ProductListing*/
.collection .sortby{margin-top: 11px;}
.product{position: relative;margin-bottom:30px;}

.product .price{position: absolute;right: 10px;top: 10px;width: 80px;height: 80px;text-align: center;border-radius: 50%;line-height: 80px;color: #fff;}
.product .special{background: rgba(234,0,110,0.9);}
.product .sale{background:rgba(146,199,4,0.9);}

.product .overlay{position: absolute;top: 0; right: 0;left: 0; bottom:0;background:rgba(0,0,0,0.5);margin:0 1px;display: none;text-align: center;}
.product:hover .overlay{display: block;color: #fff;}
.product .overlay .detail{bottom: 20px;position: absolute;text-align: center;width: 100%;}

.product .overlay a{color: #fff;}
.product .overlay h4 {margin-bottom:15px; }
.product .overlay h4 a{font-size: 18px;color: #fff;}
.product .overlay h4 a:hover{color: #ccc;}
.product .overlay p{padding: 0 10px 10px 10px;color: #ccc;}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{background-color: #ea006e;border-color:#ea006e;}
.pagination>li>a, .pagination>li>span{color:#ea006e;}
/*ProductListing*/

/*product-details*/
.product-details .information .price{margin-bottom: 40px;}
.product-details .information .price span{font-size: 20px;text-decoration: line-through;color: #aaa;}
.product-details .information .price b{font-size: 30px;}
.product-details .information .price a.stock{}
.product-details .quantity{padding: 1px 10px;width: 120px;}
.description-tabs{margin:30px 0;}
.description-tabs .nav > li > a{padding: 5px 15px;border-radius: 0 !important;color: #333;}
.description-tabs .tab-content{padding:10px 0; }
.description-tabs .tab-content .reviews{border-bottom: 1px dashed #aaa;margin-bottom: 10px;}
.description-tabs .tab-content .reviews h5{font-size: 14px;margin: 0;font-weight: bold;}
.description-tabs .tab-content textarea{margin-bottom: 10px;}
.related-products{margin:50px 0; }
.related-products h4{margin-bottom: 15px;}


/*about*/
.about h4{margin-bottom: 40px;}
.about h3{margin-bottom: 10px;}
.about p{margin-bottom: 40px;}

/*uniform*/
.radio-inline{padding-top: 4px;padding-left: 0;color: whitesmoke;}
.form-horizontal .radio{padding-top:3px;}
.radio-inline input[type="radio"]{margin-left: 0;}
div.radio{margin-right: 10px;}
div.radio span{background:url(../images/radio.png) 0 20px !important;}

div.radio span,div.radio input{width: 20px;height: 20px;}
div.radio span.checked{background-position: 0 0 !important;}


div.selector{border:none; border: 1px solid #999;height: 33px !important; padding:3px 10px !important; border-radius: 0; font-size: 14px; background-color:rgba(0,0,0,0.5); width: 100% !important;}
div.selector:hover{}
div.selector span{height: 36px;padding: 0; background: url(../images/drop.png) right 9px no-repeat !important;color: #8d8d8d; width: 100% !important;margin-right: 20px;}
div.selector:hover span{ background-position:right 9px !important; color: #282828;}
div.selector select{height: 36px !important;top: -2px; cursor: pointer; background-color: #fff;}
div.selector option{ padding: 10px;}
.checkbox label{padding-left: 0;}
.checkbox input[type=checkbox]{margin-left: -10px;}
/*uniform*/


/*responsive starts here*/
@media (max-width: 1200px){
	.bodybg{height:100%; width:100%}
  h2 {font: italic 45px/45px 'Old Standard TT', serif;}
  h4 {font: italic 20px/20px 'Old Standard TT', serif;}
  .btn{padding: 5px 12px;letter-spacing: 1px;}
  .nav>li>a{padding:15px 10px;}
  .searchbar .form-control{width: 160px;} 
  .searchbar .btn,.footer .btn{display: none;}
  
  .block{background-size: cover !important;font-size: 13px;}
  .block .info{display: inline-block; height: 120px; width: 120px; }
  .block .overlay{padding: 15px;}
  .block .info h3 {margin: 40px 0 5px 0;font: normal 23px/23px 'Old Standard TT', serif;}
  .block .overlay p {margin-bottom: 10px;}
  .block .overlay h4{font:italic 17px/15px 'Old Standard TT', serif;}
  #progressbar{display: none;}

}

@media (max-width: 991px){
  .nav>li>a{padding:15px 7px; font-size: 12px;}
  .searchbar .form-control {width: 130px;}
  .navbar-inverse .navbar-brand{width: 150px;}
  .navbar-inverse .navbar-brand img{width: 100%;}
  .homepage .height-half{height: 25%;}
  .block .overlay h4{margin: 10px 0;}
  #registerForm{margin-bottom:15%;}
}
@media (max-width: 767px){
  h2{font-size: 20px; line-height: 20px;}
  h2.title{font-size: 30px;line-height: 53px;margin-bottom: 20px;}
  h1{font-size: 30px; line-height: 30px;margin-top: 20px;}
  h1.title{font-size: 40px;line-height: 53px;margin-bottom: 20px;}
  
   .breadcrumb{margin-bottom: 15px;}
  .banner .caption h2{margin-bottom: 15px;}
  .banner .caption a.btn{width: 100%; margin-top: 10px;}
  .nav>li>a {padding: 7px;}
  .navbar-nav .open .dropdown-menu>li>a {line-height: 15px;}
  .navbar-nav {margin-top: 0; margin-bottom: 0;}
  .searchbar {margin-top: 0;margin-bottom: 0;}
  .searchbar .form-control{width: 100%;}

  .banner .caption p{font: normal 15px/15px 'Old Standard TT', serif;}
  .fullpage {height: auto !important;padding-bottom: 0 ; float: left;}
  .block .overlay{position: relative;}
  .navbar-fixed-bottom{position:fixed;float: left; width: 100%;}

  .block .info{margin: 20px;}
  .block .overlay {padding: 25px;}
  .height-full{float: left;width: 100%;}

  .footer  .pull-left{width: 100%;}
  .footer  .navbar-form{margin: 0;}
  .footer .links, .footer .social{width: 100%; text-align: center;}
  .newsletter .form-control{width: 100%;}
  #registerForm{margin-bottom:30%;position:relative;}

  .related-products{margin-bottom: 0;}
  .inside-page{padding-bottom: 20px;}

  .lookbook .product .info{position: static;width: 100%;padding: 15px 0;}
  #msform{position: relative;}


  .checkout h4,.modal-content h4{margin-top: 20px;}
  .create-account .form-horizontal{padding: 20px;}

  .product-details .btn{padding: 5px 9px;letter-spacing: 0px;}


}

