body{background-color: #fff;font-family: 'Source Sans Pro', sans-serif;}


/*default*/
h1.hide{display: none;}
h1{font:normal 33px/30px 'Old Standard TT', serif; margin:0 0 10px 0;}
h2{font:italic 60px/50px 'Old Standard TT', serif; margin:0;}
h2.title{font:normal 50px/50px 'Georgia','Impact', serif; margin:0 0 40px 0; text-align:center; font:strong;}
h3{font:normal 33px/33px 'Old Standard TT', serif;text-transform:uppercase; margin:0;}
h4{font:italic 25px/25px 'Old Standard TT', serif; margin:0;}
.btn,a,a:hover{text-decoration: none;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;outline:0 ;}
a{color: #333;}

.btn{text-transform: uppercase;background: none;border:1px solid #fff;border-radius: 0;color: #fff;font: normal 11px/12px 'Titillium Web';padding: 5px 25px;letter-spacing: 2px;}
.btn-default:hover{background: none;color: #fff;border:1px solid #fff;padding: 5px 40px;}
.btn-inverse{border:1px solid #555;}
.btn-inverse:hover{color: #ccc;border:1px solid #666;background:#333;}
.btn-primary{border:1px solid #333;color: #000; background:none; }
.btn-primary:hover{background:#333;border:1px solid #333; color: #fff; }
.btn-danger{border:1px solid #ea006e; background:#ea006e;color: #fff;}
.btn-danger:hover{border:1px solid #ea006e; background:#ea006e;color: #fff;}

.center{text-align: center;}

.height-full{height: 100% !important;}
.height-half{height: 50%;display: table;}

.content{padding: 48px 0 38px 0;}
.inside-page{padding: 80px 40px 70px 20px;}
.breadcrumb{margin-bottom: 30px;background: none;padding: 0;}
.breadcrumb a{color: #ea006e;}
.breadcrumb a:hover{text-decoration: underline;}
.hidden{display:none;}

.wishform{float:left ; padding-top:8px;}

/*default*/

/*modal*/
.modal-dialog{max-width: 800px; width: 90%;margin-top: 10%;}
.modal-content{padding:15px;}
.modal-content h4{margin-bottom: 20px;}
.modal-content{ background: #ea006e; opacity:0.6; }
/*modal*/




/*nav*/
.navbar-nav > li > a{text-transform: uppercase;font: normal 13px/19px 'Titillium Web';}
.navbar-inverse{border:none; opacity:0.4;}
.navbar-fixed-top{ /*background: none;*/ opacity:1.0;}
.navbar-brand{background: #ea006e !important;padding: 6px 15px;}
.dropdown-menu{background:#000; color: #fff; padding:5px;}
.dropdown-menu > li > a{color: #fff;padding:10px;}
.dropdown-menu > li > a:hover{background-color: #333;color: #fff;}
.navbar-nav>.user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}
/*nav*/


/*search*/
.searchbar {margin-top: 13px;}
.searchbar .form-control,.newsletter .form-control{border:1px solid #555;background: none;border-radius: 0;padding:1px 5px;height: auto;width: 200px;color: #999;}
/*search*/


/*footer*/
.footer{background-color: #222;}
.footer .links{margin-top: 9px;float: left;}
.footer .links a{color: #888;padding: 0 10px;font: normal 13px/13px 'Titillium Web';}
.footer .links a:hover{color: #fff;}
.footer .social{margin-top: 5px;margin-right: 10px;}
.footer .social a{color: #fff;font-size: 20px;margin:0 3px;}
.footer .social a:hover{color: #999;}
/*footer*/


/*home page*/
.homepage {background-color: #333;}
.homepage .col-md-6{padding-right: 0;padding-left: 0;}


.banner {background-color: #000;}
.carousel-control i.fa{font-size: 30px;top: 50%;position: absolute;margin-top: -16px;}
.banner .caption{position: absolute;top: 50%;text-align: center;width: 100%;margin-top: -100px;padding: 0 15%;color: #fff;}
.banner .caption h2{margin-bottom:20px;}
.banner .caption p{margin-bottom: 30px;font:normal 25px/30px 'Old Standard TT', serif;color: #eee;}
.banner .caption a.btn{margin: 0 5px;}

.block.women{ background-image:url(../images/choice1.jpg); }
.block.store{ background-image:url(../images/shop.jpg);display: block; }
.block.men{ background-image:url(../images/choice2.jpg); }
.block.couple{ background-image:url(../images/choice3.jpg); }
.block{background-size:105%; display: table-cell;vertical-align: middle;text-align: center;position: relative;background-position: center;font: normal 16px 'Old Standard TT';-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out; background-repeat: no-repeat;}
.block:hover{background-size:125%;}
.block .info{background: rgba(234,0,110,0.9);border-radius: 50%;height: 150px;width: 150px;color: #fff;display: none;text-align: center;}
.block .info h3{ margin:50px 0 5px 0;}
.block:hover .info{display: inline-block;}
.block .overlay{background: rgba(234,0,110,0.9);position: absolute;top: 0;right: 0;bottom: 0;left: 0;color: #fff;padding: 20px; opacity:0.8;}
.block .overlay .store-info{display: table; vertical-align: middle;height: 100%;width: 100%;}
.block .overlay .store-info .desc{display: table-cell; vertical-align: middle;}
.block .overlay h4{margin:0 0 10px 0;border-bottom: 1px solid #ccc;display: inline-block;padding-bottom: 10px;}
.block .overlay p{margin-bottom: 30px;}
/*home page*/




/*form styles*/
#msform fieldset {position: absolute;width: 100%;}
#msform fieldset:not(:first-of-type) {display: none;}
#progressbar{padding: 0;width: 334px;margin: 0;height: 47px;margin-left: 240px;}
#progressbar li {list-style-type: none;width: 25%;float: left;position: relative;}
#progressbar li:before {content: counter(step);counter-increment: step;width: 29px;height: 29px;display: block;background: white;margin: 0;border-radius: 50%;border: 6px solid #ddd;text-indent: -9999px;}
#progressbar li:after {content: '';width: 100%;height: 6px;background: #ddd;position: absolute;left: -75%;top: 11px;z-index: -1; }
#progressbar li:first-child:after {/*connector not needed before the first step*/content: none;}
#progressbar li.active:before{background: #ea006e;}
#progressbar li.active:after {background: #ddd;}
#progressbar li.done:before{background:url(../images/check.png) center no-repeat #c14387; }
.forgot-password{margin-bottom: 10px;}
#register_tnc_error{float:right;padding:20px;}
/*form styles*/


/*create-account*/
.create-account .form-horizontal{border: 1px solid #ccc;}




/*about*/
.about h4{margin-bottom: 40px;}
.about h3{margin-bottom: 10px;}
.about p{margin-bottom: 40px;}



/*unform*/
.radio-inline{padding-top: 4px;padding-left: 0;}
.form-horizontal .radio{padding-top: 3px;}
.radio-inline input[type="radio"]{margin-left: 0;}
div.radio{margin-right: 10px;}
div.radio span{background:url(../images/radio.png) 0 20px !important;}

div.radio span,div.radio input{width: 20px;height: 20px;}
div.radio span.checked{background-position: 0 0 !important;}


div.selector{border:none;border: 1px solid #999;height: 33px !important; padding:3px 10px !important; border-radius: 0; font-size: 14px; background: #fff !important; width: 100% !important;}
div.selector:hover{border-color: #bbb;}
div.selector span{height: 36px;padding: 0; background: url(../images/drop.png) right 9px no-repeat !important;color: #8d8d8d; width: 100% !important;margin-right: 20px;}
div.selector:hover span{ background-position:right 9px !important; color: #282828;}
div.selector select{height: 36px !important;top: -2px; cursor: pointer; background-color: #fff;}
div.selector option{ padding: 10px;}
.checkbox label{padding-left: 0;}
.checkbox input[type=checkbox]{margin-left: -10px;}
/*unform*/

/*Elements Filtering*/
/*
.divFilter{
  display:block;
  float:left;
  min-height:300px;
  width:100%;
  border-radius:4px;
  padding:15px;
}

.divFilter a{
 	
	max-width:250px;
	border: 1px solid #DDDDDD;
    color: #fff;
    display:inline-block;
    font-size: 14px;
    padding: 6px 20px;
    text-transform: uppercase;
    vertical-align: middle;
	cursor:pointer;
	text-align:center;
	
		
}


.divFilter div{
 display:block;
 float:left;
 height:40px;
 width:40px;
 border:1px solid black;
 margin:10px;
 -webkit-transition:all .8s linear;
 -moz-transition:all .8s linear;
 -o-transition:all .8s linear;
 -ms-transition:all .8s linear;
 transition:all .8s linear;
 margin-top:20px;
}

.divFilter div[data-filter="red"]{
  background:red;

}

.divFilter div[data-filter="green"]{
  background:green;
}

.divFilter div[data-filter="blue"]{
  background:blue;
}



.divFilter a:focus[data-filter]{
    opacity:.8;
     outline:none;
}

.divFilter a[data-filter="red"]:focus ~ div:not([data-filter="red"]){
  height:0px;
  width:0px;
  border:none;
  margin:0;
}

.divFilter a[data-filter="green"]:focus ~ div:not([data-filter="green"]){
  height:0px;
  width:0px;
  border:none;
  margin:0;
}

.divFilter a[data-filter="blue"]:focus ~ div:not([data-filter="blue"]){
  height:0px;
  width:0px;
  border:none;
  margin:0;
}

*/
/* ==========================================================================
   Portfolio Section
   ========================================================================== */
   #categories-button {
    background:#FFFFFF;
    border: 1px solid #DDDDDD;
    color: #787878;
    display:inline-block;
    font-size: 14px;
    padding: 6px 20px;
    text-transform: uppercase;
    vertical-align: middle;
	cursor:pointer;
	text-align:center;
}
#categories-button:hover{
background:#f1f1f1;
}
#portfolio {
  text-align: center;
  padding: 6em 0;
background:#F8F8F8;
	-webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
#portfolio h1 {
  margin:0;
  color: ##545454;
  font-size: 3.25em;
  font-weight: 400;
  line-height: 70px;
  text-transform: uppercase;
}
#portfolio h2 {
	-webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  
   color: ##545454;
    font-size: 28px;
    font-weight: lighter;
    line-height: 30px;
    margin: 0 0 40px;
    text-align: center;
	
}

#portfolio hr {
    border-top: 4px double #b2b2b2;
    margin: 1.5em auto;
	margin-bottom:2.5em;
    padding: 0;
    width: 15%;
}
#portfolio .cat-list {
  text-align: center;
  list-style-type: none;
  margin-bottom: 40px;
  width: 100%;
  padding: 0;
}
#portfolio .cat-list li {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
}
#portfolio .cat-list .active {
  background-color: #f6464a;
  color: #fff;
}
#portfolio .resp-btn {
  height: 42px;
  width: 42px;
  background: red;
  display: none;
}
#portfolio .portfolio-row {
  height: auto;
    list-style-type: none;
    padding: 0;
  margin:40px 0 0;
}
#portfolio .portfolio-row .portfolio-mix {
  display: none;
 margin-bottom: 0;
  opacity: 0;
    padding: 0;
    width: 25%;
	float:left;
}
#portfolio .portfolio-row .portfolio-mix .portfolio-item a {
  display: block;
  position: relative;
  padding-bottom:85px;
	-webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.meta {
    bottom: 0;
    padding-bottom: 25px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.meta h4{
    margin-bottom: 6px;
	text-transform:uppercase;
}
.meta h6{
    margin-bottom: 0;
}
#portfolio .portfolio-row .portfolio-mix .portfolio-item a img {

}

#portfolio .portfolio-row .portfolio-mix .portfolio-item a .caption-bg {
  position: absolute;
  top: 20px;
  left:0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0;
	-webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  -webkit-box-shadow: inset 0 0 0 6px #f6464a, inset 0 0 0 0 #F6464A;
  -moz-box-shadow: inset 0 0 0 6px #f6464a, inset 0 0 0 0 #F6464A;
  box-shadow: inset 0 0 0 6px #f6464a, inset 0 0 0 0 #F6464A;
}
#portfolio .portfolio-row .portfolio-mix .portfolio-item a .caption-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0 0 0 0 #333;
  -moz-box-shadow: inset 0 0 0 0 #333;
  box-shadow: inset 0 0 0 0 #333;
	-webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
#portfolio .portfolio-row .portfolio-mix .portfolio-item a h3 {
  font-size: 1.111111111111111em;
  line-height: 1.2em;
  text-shadow:none;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
	-webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
#portfolio .portfolio-row .portfolio-mix .portfolio-item a .portfolio-item-description {
  font-size: 14px;
  line-height: 1.2em;
  font-weight: lighter;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  margin: 0 10%;
  text-align: center;
  opacity: 0;
	-webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
#portfolio .portfolio-row .portfolio-mix .portfolio-item a:hover .meta {
    background:none;
	  cursor:crosshair;
}
#portfolio .portfolio-row .portfolio-mix .portfolio-item a:hover .meta em {
    color: #f1f1f1 !important;
	  cursor:crosshair;
}
#portfolio .portfolio-row .portfolio-mix .portfolio-item a:hover .meta h4 {
    color: #f1f1f1 !important;
	  cursor:crosshair;
}
#portfolio .portfolio-row .portfolio-mix .portfolio-item a:hover .caption-bg {
  opacity: 0.95;
  top: 0;
  left: 0;
	-webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
    cursor:crosshair;
}
#portfolio .portfolio-row .portfolio-mix .portfolio-item a:hover .caption-bg::before {
  content: '';
  -webkit-box-shadow: inset 0 0 0 160px #F6464A;
  -moz-box-shadow: inset 0 0 0 160px #F6464A;
  box-shadow: inset 0 0 0 160px #F6464A ;
 	-webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  cursor:crosshair;
}
#portfolio .portfolio-row .portfolio-mix .portfolio-item a:hover h3 {
  opacity: 1;
  top: 14%;
	-webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
#portfolio .portfolio-row .portfolio-mix .portfolio-item a:hover .portfolio-item-description {
  opacity: 1;
  top: 34%;
	-webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
    cursor:crosshair;
}
#portfolio .btn {
  margin: 0 10px;
}
#portfolio .btn-outline-white {
  color: #f6464a;
  text-transform: none;
  border: 2px solid #f6464a;
  font-size: 14px !important;
    line-height: 24px !important;
	
}
#portfolio .btn {
    margin: 1em 10px 0;
}
#portfolio .btn-outline-white {
    border: 2px solid #F6464A;
    color: #F6464A;
    text-transform: none;
}
#portfolio .btn-outline-white:hover {
    background-color: #F6464A;
    color: #FFFFFF;
	  cursor:crosshair;
}
#portfolio .btn-outline-white {
    text-transform: uppercase;
}

#portfolio .btn {
  margin: 0 10px;
}
#portfolio .btn-outline-white {
  color: #f6464a;
  text-transform: none;
  border: 2px solid #f6464a;
  font-size: 14px !important;
    line-height: 24px !important;
	
}
.portfolio-popup .btn {
    margin:5px;
	 cursor:pointer !important;
}
.portfolio-popup .btn-outline-white {
    border: 2px solid #F6464A;
    color: #F6464A;
    text-transform: none;
}
.portfolio-popup .btn-outline-white:hover {
    background-color: #F6464A;
    color: #FFFFFF;
	  cursor:crosshair;
}
.portfolio-popup .btn-outline-white {
    text-transform: uppercase;
}
.portfolio-popup {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    max-width: 70%;
    padding:0;
	-webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
.portfolio-popup .responsive-container {
    margin-bottom: 20px;
}
.portfolio-popup .columns{
width:100% !important;
margin:0 !important;
}
.portfolio-popup .container{
width:100%;
}
.popup-nav-top{
background:#F6464A;
}
.item-title {
    background: none repeat scroll 0 0 #fff;
    padding: 0 0 20px;
	text-align:center;
	margin:0;
}
.item-title h1 {
	color:#fff;
  margin:0;
  font-size: 2.25em;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.item-title h2 {
	-webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
   font-size: 26px;
   color:#fff;
   font-weight: lighter;
   line-height: 30px;
   margin:0 0 5px;
   text-align: center;
}

.item-subtitle{
padding:0 0 1em !important;
color:#fff;
}
.item-overview {
    margin:0 60px;
	font-size:16px;
}
.item-skills{
margin:0 45px;
}
.popup-nav {
    list-style-type:none;
	text-align:center;
	margin:40px 0;
	padding:0;
}
.popup-nav-top .popup-nav{
margin:20px 0;
}
.popup-nav li {
    display: inline-block;
}
.btn-black {
   background-color: #2C2C2C;
    border: medium none;
    color: #FFFFFF;
    margin-top: 0px;
    padding: 10px;
	border-radius:4px;
	-webkit-border-radius:4px;
}
.btn-black:hover {
    background-color: #F6464A;
}
.projets-features {
    margin: 0px;
	padding:0;
}
.projets-features li {
 border-bottom: 1px solid #E9E9E9;
    display: inline-block;
    margin:5px;
    padding: 10px;
background:#f1f1f1;
font-size:16px;
}
.projets-features li {
    color: #828282;
    text-transform: uppercase;
    list-style-type:none;
}
.visit-project{
padding:10px !important;
font-size:12px !important;
}
.portfolio-popup .project-slider{
position:relative;
margin-bottom:40px;
}
.project-slider ul{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.project-slider li {
    margin: 0px;
    padding:0;
}
.project-slider ul.slidecontrols li {
 height:auto;
    position: absolute;
    right: 0;
    width: 50px;
}
.project-slider ul.slidecontrols li a{
  background: none;
    
    padding:8px 0;
    
    width: 100%;
	
padding:15px;
}
.mfp-close-btn-in .mfp-close {
    display: none;
	-webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  
}
.mfp-fade.mfp-bg {
    opacity: 0;

		-webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  
  
}
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
	-webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  
  
}
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
	-webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  

}
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
	-webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
	-webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
	-webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  
}

/*responsive starts here*/
@media (max-width: 1200px){
	h2 {font: italic 45px/45px 'Old Standard TT', serif;}
	h4 {font: italic 20px/20px 'Old Standard TT', serif;}
	.btn{padding: 5px 12px;letter-spacing: 1px;}
	.nav>li>a{padding:15px 10px;}
	.searchbar .form-control{width: 160px;}	
	.searchbar .btn,.footer .btn{display: none;}
	
	.block{background-size: cover !important;font-size: 13px;}
	.block .info{display: inline-block; height: 120px; width: 120px; }
	.block .overlay{padding: 15px;}
	.block .info h3 {margin: 40px 0 5px 0;font: normal 23px/23px 'Old Standard TT', serif;}
	.block .overlay p {margin-bottom: 10px;}
	.block .overlay h4{font:italic 17px/15px 'Old Standard TT', serif;}
	#progressbar{display: none;}

}
@media (max-width: 991px){
	.nav>li>a{padding:15px 7px; font-size: 12px;}
	.searchbar .form-control {width: 130px;}
	.navbar-inverse .navbar-brand{width: 150px;}
	.navbar-inverse .navbar-brand img{width: 100%;}
	.homepage .height-half{height: 25%;}
	.block .overlay h4{margin: 10px 0;}
}
@media (max-width: 767px){
	h2{font-size: 20px; line-height: 20px;}
	h2.title{font-size: 30px;line-height: 53px;margin-bottom: 20px;}
	h1{font-size: 30px; line-height: 30px;margin-top: 20px;}

	.breadcrumb{margin-bottom: 15px;}

	.banner .caption h2{margin-bottom: 15px;}
	.banner .caption a.btn{width: 100%; margin-top: 10px;}
	.nav>li>a {padding: 7px;}
	.navbar-nav .open .dropdown-menu>li>a {line-height: 15px;}
	.navbar-nav {margin-top: 0; margin-bottom: 0;}
	.searchbar {margin-top: 0;margin-bottom: 0;}
	.searchbar .form-control{width: 100%;}

	.banner .caption p{font: normal 15px/15px 'Old Standard TT', serif;}
	.fullpage {height: auto !important;padding-bottom: 0 ; float: left;}
	.block .overlay{position: relative;}
	.navbar-fixed-bottom{position: relative;float: left; width: 100%;}

	.block .info{margin: 20px;}
	.block .overlay {padding: 25px;}
	.height-full{float: left;width: 100%;}

	.footer  .pull-left{width: 100%;}
	.footer  .navbar-form{margin: 0;}
	.footer .links,	.footer .social{width: 100%; text-align: center;}
	 .form-control{width: 100%;}


	.related-products{margin-bottom: 0;}
	.inside-page{padding-bottom: 20px;}

	.lookbook .product .info{position: static;width: 100%;padding: 15px 0;}
	#msform{position: relative;}


	.checkout h4,.modal-content h4{margin-top: 20px;}
	.create-account .form-horizontal{padding: 0;}

	.product-details .btn{padding: 5px 9px;letter-spacing: 0px;}


}

