<div ng-controller="LandingpageCtrl" id="Landingpage">

<div id="bg" ng-click="bgTap()">
<img ng-src="http://www.appgyver.com/composer/composer-default-image.png"></img>

</div>

<div id="Wish" ng-click="WishTap()">
<button class="button button-small button-positive button-outline ion-star icon-left">
  Wish
</button>
</div>

<div id="Shop" ng-click="ShopTap()">
<button class="button button-small button-positive button-outline ion-ios7-cart icon-left">
  Shop
</button>
</div>

<div id="Chat" ng-click="ChatTap()">
<button class="button button-small button-positive button-outline ion-chatbubble-working icon-left">
  Chat
</button>
</div>

<div id="Grant" ng-click="GrantTap()">
<button class="button button-small button-positive button-outline ion-star icon-left">
  Grant
</button>
</div>

</div>