<div ng-controller="LoginpageCtrl" id="Loginpage">

<div id="Email" ng-click="EmailTap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Email" ng-model="Email.value">
  </label>
</div>
</div>

<div id="password" ng-click="passwordTap()">
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Password" ng-model="password.value">
  </label>
</div>
</div>

<div id="Login" ng-click="LoginTap()">
<button class="button button-small button-calm button-outline ion-person-stalker icon-left">
  Login
</button>
</div>

</div>