@import url('http://fonts.googleapis.com/css?family=Alegreya+Sans:400,700');

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

img { border: 0; max-width: 100%; }


/** page structure **/
#w {
  display: block;
  max-width: 1000px;
  min-width: 280px;
  margin: 0 auto;
  padding-bottom: 35px;
}

#w header {
  display: block;
  padding-top: 15px;
}

/** Glidejs styles **/
.slider {
	position: relative;
	width: 100%;
	height: 500px;
	overflow: hidden;
}
	
.slides {
  height: 100%;
  overflow: hidden;
  /**	
   * Prevent blinking issue
   * Not tested. Experimental.
   */
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;

   -webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
	
.slide {
  height: 100%;
  float: left;
  clear: none;
}
.slide figure {
  display: block;
  position: relative;
  text-align: center;
}
.slide figure figcaption {
  position: absolute;
  right: 20%;
  font-size: 1.1em;
  font-weight: bold;
  padding: 8px 14px;
  color: #464646;
  background: rgba(255,255,255,0.8); 
}
.slide figure figcaption a {
  color: #5a7fbc;
  text-decoration: none;
}
.slide figure figcaption a:hover { text-decoration: underline; }

.slide figure img {
  max-height: 480px;
}



.slider-arrows {}

.slider-arrow {
  position: absolute;
  display: block;
  margin-bottom: -20px;
  padding: 20px;
  font-family: 'Alegreya Sans', 'Trebuchet MS', sans-serif;
  text-decoration: none;
  font-weight: 900;
  font-size: 3.0em;
  color: #000;
  border: 0px solid #000;
  border-radius: 8px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.slider-arrow:hover {
  color: #aaa;
}
.slider-arrow--right { bottom: 50%; right: 30px; }
.slider-arrow--left { bottom: 50%; left: 30px; }


.slider-nav {
  position: absolute;
  bottom: 40px;
}

.slider-nav__item {
  width: 5px;
  height: 5px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.slider-nav__item:hover { background: #bababa; }
.slider-nav__item--current, .slider-nav__item--current:hover { background: #999; }



/** responsive styles **/
@media screen and (max-width: 1050px) {
  #w { padding: 0 15px; }
  .slider-arrow { font-size: 1.8em; padding: 15px; }
} 

@media screen and (max-width: 650px) {
  h1 { font-size: 2.9em; }
}

@media screen and (max-width: 450px) {
  h1 { font-size: 2.1em; }
}